nav.breadcrumb {
  padding: 0.8em 1em;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  background: #FCFBFC;
}

nav.breadcrumb ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

nav.breadcrumb li {
  display: inline;
}

/*nav.breadcrumb li + li::before {
  display: inline-block;
  content: url('../images/slash.svg');
  vertical-align: middle;
}*/

nav.breadcrumb li + li::before {
  display: inline-block;
  margin: 0 .25em;
  transform: rotate(15deg);
  border-right: .1em solid currentColor;
  height: .8em;
  content: '';
}

nav.breadcrumb a {
  color: #2F72C8;
  text-decoration: none;
}

nav.breadcrumb a:focus,
nav.breadcrumb a:hover {
  text-decoration: underline;
  background: transparent;
}

nav.breadcrumb [aria-current="page"] {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}
