.menu-button-links {
  margin: 0;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 7px;
  font-size: 110%;
  list-style: none;
  background-color: #bbb;
  border: #eee solid 1px;
  border-radius: 5px;
}

.menu-button-links button {
  margin: 0;
  padding: 6px;
  display: inline-block;
  position: relative;
  background-color: #eee;
  border: 0px solid #eee;
  font-size: 0.9em;
  color: black;
  border-radius: 5px;
}

.menu-button-links button::after {
  content: url('../images/down-arrow.svg');
  padding-left: 0.25em;
}

.menu-button-links button:hover::after,
.menu-button-links button:focus::after {
  content: url('../images/down-arrow-focus.svg');
}

.menu-button-links button[aria-expanded="true"]::after {
  content: url('../images/up-arrow-focus.svg');
}

.menu-button-links [role="menu"] {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
}

.menu-button-links [role="menuitem"],
.menu-button-links [role="separator"] {
  margin: 0;
  padding: 6px;
  display: block;
  width: 24em;
  background-color: #eee;
  border: 0px solid #eee;
  color: black;
  border-radius: 5px;
}

.menu-button-links [role="separator"] {
  padding-top: 3px;
  background-image: url('../images/separator.svg');
  background-position: center;
  background-repeat: repeat-x;
}

/* focus styling */

.menu-button-links.focus {
  padding: 6px;
  border: #034575 solid 2px;
}

.menu-button-links [role="menu"] {
  padding: 7px 4px;
  border: 2px solid #034575;
  border-radius: 5px;
  background-color: #eee;
}

.menu-button-links button:hover,
.menu-button-links button:focus,
.menu-button-links button[aria-expanded=true],
.menu-button-links [role="menuitem"]:focus {
  padding: 3px;
  border: 3px solid #034575;
  background: #034575;
  color: #fff;
  outline: none;
  margin: 0;
}
