.menu_button {
  position: relative;
}

.menu_button button {
  margin: 1px;
  font-size: 110%;
  display: block;
  padding: 0.375em;
  border: solid 0.125em gray;
  border-radius: 8px;
  width: 12em;
  text-align: center;
  background-color: #EEE;
  color: black;
  outline: none;
}



ul[role="menu"] {
  margin: 0;
  padding: 0;
  position: absolute;
  font-size: 110%;

  border: solid 0.125em gray;
  border-radius: 5px;

  list-style: none;
  background-color: #FFF;
  display: none;
}

ul[role="menu"] li {
  margin: 0;
  padding: 0;
}

ul[role="menu"] a[role="menuitem"],
ul[role="menu"] a[role="menuitem"]:visited {
  display: block;
  border: none;
  text-decoration: none;
  padding: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: #FFF;
  width: 22em;
  color: black;
  outline: solid 0.125em transparent;
}

/* focus and hover styling */

.menu_button button:focus {
  padding: 0.25em;
  border-width: 0.25em;
  border-color: hsl(216, 94%, 70%);
  background-color: hsl(216, 80%, 97%);
}

ul[role="menu"] a[role="menuitem"]:focus {
  outline-color: hsl(216, 94%, 70%);
  background-color: hsl(216, 80%, 97%);
}

ul[role="menu"] a[role="menuitem"]:hover{
  background-color: hsl(216, 80%, 90%);
}
