.accordion-group {
  margin: 0;
  padding: 0;
  border: 2px solid hsl(0, 0%, 52%);
  border-radius: 7px;
}

.accordion-group h3 {
  margin: 0;
  padding: 0;
}

.accordion-group:focus-within {
  border-color: hsl(216, 94%, 43%);
}

.accordion-group:focus-within h3 {
  background-color: hsl(0, 0%, 97%);
}

.accordion-group > * + * {
  border-top: 1px solid hsl(0, 0%, 52%);
}

.accordion-trigger {
  background: none;
  color: hsl(0, 0%, 13%);
  display: block;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
  padding: 1em 1.5em;
  position: relative;
  text-align: left;
  width: 100%;
  outline: none;
}

.accordion-trigger:focus,
.accordion-trigger:hover {
  background: hsl(216, 94%, 94%);
}

.accordion-trigger:focus {
  outline: 4px solid transparent;
}

.accordion-group > h3:first-child .accordion-trigger,
.accordion-group > h3:first-child {
  border-radius: 5px 5px 0 0;
}

.accordion-group > h3:last-of-type .accordion-trigger,
.accordion-group > h3:last-of-type {
  border-radius: 0 0 5px 5px;
}

button {
  border-style: none;
}

.accordion-group button::-moz-focus-inner {
  border: 0;
}

.accordion-title {
  display: block;
  pointer-events: none;
  border: transparent 2px solid;
  border-radius: 5px;
  padding: 0.25em;
  outline: none;
}

.accordion-trigger:focus .accordion-title {
  border-color: hsl(216, 94%, 43%);
}

.accordion-icon {
  border: solid currentColor;
  border-width: 0 2px 2px 0;
  height: 0.5rem;
  pointer-events: none;
  position: absolute;
  right: 2em;
  top: 50%;
  transform: translateY(-60%) rotate(45deg);
  width: 0.5rem;
}

.accordion-trigger:focus .accordion-icon,
.accordion-trigger:hover .accordion-icon {
  border-color: hsl(216, 94%, 43%);
}

.accordion-trigger[aria-expanded="true"] .accordion-icon {
  transform: translateY(-50%) rotate(-135deg);
}

.accordion-panel {
  margin: 0;
  padding: 1em 1.5em;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input {
  border: 1px solid hsl(0, 0%, 42%);
  border-radius: 0.3em;
  display: block;
  font-size: inherit;
  padding: 0.3em 0.5em;
}
