/* Accordion Header */

#accordionGroup dt {
	position: relative;
	text-transform: uppercase;
	background: #63B7C2;
	padding: 0.3em 0.5em;
	margin-bottom: 1px;
}

/* Accordion Panel */

#accordionGroup dd {
	text-align: center;
	background: #FFF;
}

/* Image Sprite for the expanded/collapse icon */

.accAccordion, a.accAccordion:link, a.accAccordion:visited {
	display: block;
	font-size: 100%;
	text-align: left;
	text-decoration: none;
	color: #000;
	background-image: url(../img/accordion/sprite.svg);
  background-position: right 0.35em;
  background-repeat: no-repeat;
	padding: 0.3em 0.5em;
	cursor: pointer;
}

.accAccordion.open, .accAccordion.open:link, .accAccordion.open:visited {
    background-position: right -119px;
}

  
.hidden {display: none;}

fieldset.flex p {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

fieldset.flex > p  > label
{flex: 1 0 120px;
  max-width: 220px;}
  
*:focus {
	color: #000;
	background: #FC0;
}  
