
#accordionGroup dt {
	position: relative;
	text-transform: uppercase;
	background: #63B7C2;
	padding: 0.3em 0.5em;
	margin-bottom: 1px;
}
#accordionGroup dd {
	text-align: center;
	background: #FFF;
}
	#accordionGroup dd img {width: 150px; vertical-align: middle;}
	
#accordionGroup div.content {padding: 1rem;}

.accAccordion, a.accAccordion:link, a.accAccordion:visited {
	display: block;
	font-size: 100%;
	text-align: left;
	text-decoration: none;
	color: #000;
	background: transparent url(../img/accordion/sprite.svg) right 0.35em no-repeat;
	padding: 0.3em 0.5em;
	cursor: pointer;
}

.accAccordion.open, .accAccordion.open:link, .accAccordion.open:visited {
    background-position: right -119px;
}
