
/* CSS index:
 	RESET
	DEFAULT VALUES
	PAGE STRUCTURE
	FORMS
	NAVIGATION
	SPECIFICS
	PRINT STYLES
	MEDIA QUERIES
*/

/* ------------------------------ RESET ---------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, main, figure,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block;
}

body {overflow-y: scroll;}


/* --------------------------------------------------------------------------- */
/* ----------------------------- DEFAULT VALUES ------------------------------ */
/* --------------------------------------------------------------------------- */

body {
	font: 100%/1 Frutiger, "Frutiger Linotype", "Gill Sans", "Gill Sans MT", "DejaVu Sans Condensed", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #2E3135;
}

h1 {
	font: normal 5.5vw/1.2 Frutiger, "Frutiger Linotype", "Gill Sans", "Gill Sans MT", "DejaVu Sans Condensed", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: capitalize;
	color: #CCC;
}
	h1 img {width: 50px; vertical-align: middle;}
	h1 strong {
		font-weight: normal;
		color: #C13836;
	}
	h1 a, h1 a:link, h1 a:visited {
		text-decoration: none;
		color: #FFF;
		background: transparent;
	}

h2 {
	font-size: 1.5em;
	line-height: 1.3;
	font-weight: normal;
	text-transform: uppercase;
	color: #C13836;
	margin: 0 0 1em;
}
	h2 small {display: block;}


h3 {
	font-size: 1.8em;
	font-weight: normal;
	color: #2E3135;
	margin: 1.5em 0 0.5em;
}
	aside section h3 {margin: 0 0 0.5em;}
	
p, li, dt, dd {font-size: 0.9em; line-height: 1.45;}

li li {font-size: 100%;}

a, a:link, a:visited {
	text-decoration: none;
	color: #000;
	background: #F2D3A1;
}
a:hover {
	text-decoration: underline;
	background: transparent;
}

*:focus {
	color: #000;
	background: #FC0;
}

img {max-width: 100%; border: none;}

button {border: none; cursor: pointer;}

code {
	font-size: 110%;
	color: #000;
	background: #E4E4E4;
}
code.block {
	display: block;
	color: #000;
	background: #E4E4E4;
	padding: 1rem;
	margin: 1rem 0;
}

code.js, code.html, code.css {display: inline;}

kbd {
	font-size: 110%;
	text-transform: uppercase;
	padding: 0 0.3em;
	border: 2px solid #2E3135;
	border-radius: 2px;
}
	kbd kbd {padding: 0; border: none;}
	
	kbd[class] {
		border: none;
	}
	kbd[class]::before {
		display: inline-block;
		line-height: 1;
		padding: 0 0.3em 0.2em;
		margin-right: 0.5em;
		border: 2px solid #2E3135;
		border-radius: 2px;
		vertical-align: top;
	}
	kbd.left::before {content: "\2190";}
	kbd.right::before {content: "\2192";}
	kbd.up::before {content: "\2191";}
	kbd.down::before {content: "\2193";}
	kbd.home::before {content: "\21E4";}
	kbd.end::before {content: "\21E5";}


/* --------------------------------------------------------------------------- */
/* ----------------------------- PAGE STRUCTURE ------------------------------ */
/* --------------------------------------------------------------------------- */

#container {}

header {
	position: relative;
	color: #FFF;
	background: #2E3135;
	background-image: linear-gradient(rgba(0,0,0,.5), transparent);
	padding: 0.5rem 5%;
}

main, div.apiDocumentationContentSection {
	background-color: #F7F7F7;
	padding: 2rem 5%;
}

aside {color: #000; background: #E1E1E1; padding: 2rem 5%;}

p.baseline {font-size: 0.75em; margin-top: 1.5em;}
p.logo {position: absolute; top: 2rem; left: 50%; width: 100px; margin-left: -50px;}
	
	p.logo a {background: transparent;}


/* --------------- FOOTER --------------- */

footer {margin: 1rem 0 2rem; text-align: center;}
p.copyright {
	font-size: 0.7em;
	text-transform: uppercase;
	color: #FFF;
	background: transparent;
	margin-top: 1rem;
}
footer p:last-child {
    font-size: 0.7em;
    margin-top: 0.5em;
    color: #E0E0E0;
}
	footer p:last-child a, footer p:last-child a:link {
	    text-decoration: underline;
	    color: #FFF;
	    background: transparent none repeat scroll 0% 0%;
	}

ul.policies li {
	display: inline-block;
	position: relative;
	list-style-type: none;
}
	ul.policies li::after {
		position: absolute;
		top: 0.7em;
		right: -0.35em;
		display: block;
		content: "";
		width: 5px;
		height: 5px;
		background: #E2A037;
		border-radius: 5px;
	}
	ul.policies li:last-child::after {content: none;}

footer button {
	color: #FFF;
	background: transparent;
	border: none;
}

/* --------------------------------------------------------------------------- */
/* ---------------------------------- FORMS ---------------------------------- */
/* --------------------------------------------------------------------------- */

form p + p {margin-top: 1em;}

fieldset {margin-bottom: 2rem;}

legend {
	font: normal 1.5em/1 antonregular, Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	padding-bottom: 1.5rem;
}

label {
	display: block;
	font-weight: bold;
	padding-bottom: 0.1em;
}

input {
	font-size: 100%;
	padding: 2px 3px;
	border: 1px solid #C0C0C0;
	border-radius: 2px;
}

.mandatory-info {
	text-align: right;
}

.buttons-bar {text-align: center; margin: 2rem 0 0;}
	.buttons-bar input {margin: 0 0.5rem;}
	
	
	.buttons-bar button {
		text-transform: uppercase;
		color: #FFF;
		background: #286278;
		padding: 0.3em 0.5em;
		border: none;
		border-radius: 3px;
		box-shadow: 0 1px 2px rgba(0,0,0,.7);
		transition: border-radius;
		-webkit-transition: border-radius;
	}

input[type=submit], input[type=reset] {
	font-size: 100%;
	text-transform: uppercase;
	color: #FFF;
	background: #49182E;
	padding: 0.3em 0.5em;
	border: none;
	box-shadow: 0 1px 2px rgba(0,0,0,.7);
	border-radius: 2px;
	cursor: pointer;
}
input[type=reset] {
	color: #FFF;
	background: #555;
}

input[type=submit]:hover, input[type=reset]:hover {
	color: #FFF;
	background: #286278;
	box-shadow: none;
	border-radius: 0;
}

input[type=submit]:focus {background: #F60;}


/* --------------------------------------------------------------------------- */
/* -------------------------------- NAVIGATION ------------------------------- */
/* --------------------------------------------------------------------------- */

nav {text-align: center; margin-top: 2rem;}

nav a.permalink, nav a.permalink:link, nav a.permalink:visited {
    position: absolute;
    left: -9000px;
    width: 1px;
    padding: 0;
}

nav h2, aside h2 {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
	padding: 0;
	border: 0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
	z-index: -1000;
}

nav li {list-style-type: none;}
nav button, nav a, nav a:link, nav a:visited  {
	display: block;
	width: 100%;
	font: bold 1.2em/1 Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #FFF;
	background: #444A51;
	padding: 0.5em 0;
	border: none;
	border-top: 1px solid #CCC;
}
nav button:hover, nav a:hover {
	color: #FFF;
	background: #C13836;
	text-decoration: none;
}

nav li.active button, nav li.active a, nav li.active a:link, nav li.active a:visited {
	color: #FFF;
	background: #C13836;
}


/* --------------------------------------------------------------------------- */
/* ------------------------------------- ASIDE ------------------------------- */
/* --------------------------------------------------------------------------- */

section + section {margin-top: 2rem;}

	section.honors h3 a {
		display: block;
		max-width: 220px;
		background: #FFF;
		padding: 2rem;
		margin: 1rem 0;
	}
	section.honors h3 img {vertical-align: baseline;}

section.at-guide {
	min-height: 90px;
	color: #FFF;
	background: #444A51 url(../img/atree.svg) 1rem 0.8rem no-repeat;
	padding: 1rem 1rem 1rem 120px;
}

section.at-guide h3 {margin-bottom: 0.5em;}
section.at-guide h3, section.at-guide h3 a {
	color: #FFF;
	background: #444A51;
}

section.at-guide p a {display: block; width: 7em;}



/* --------------------------------------------------------------------------- */
/* ---------------------------------- ARTICLES/SECTIONS ---------------------- */
/* --------------------------------------------------------------------------- */

article {max-width: 50em;}

article > h2:first-of-type {margin: 3rem 0 4rem;}
article > .hd:first-of-type h3 {margin-top: 0;}

article p + p {margin-top: 0.8em;}
article ul, section ul, article ol, section ol {margin: 1em;}
article li, section li {margin: 0 0 0.8em 0;}


/* Notes */

.note {
	padding-top: 1rem;
	margin-top: 2rem;
	border-top: 1px dotted #2E3135;
}


/* --------------------------------------------------------------------------- */
/* ---------------------------------- UTILITIES ------------------------------ */
/* --------------------------------------------------------------------------- */



/* --- KEYBOARD INSTRUCTIONS --- */

/* Keyboard aacessible */

.keyboard {min-height: 4em; background: url(../img/keyboard.svg) 0 0 no-repeat;}

.keyboard p {padding: 0.5em 0 1rem 80px;}
.keyboard ul {padding: 1em;}
.keyboard li {padding: 0.3em 0;}


/* --------------------------------------------------------------------------- */
/* ---------------------------------- SPECIFICS ------------------------------ */
/* --------------------------------------------------------------------------- */

/* --- DEMO BLOCK --- */

div.demo-block {
	clear: both;
	padding: 1rem 0;
	margin-bottom: 2rem;
	border-top: 2px dotted #63B7C2;
	border-bottom: 2px dotted #63B7C2;
}
	
	div.demo-block h3 {margin: 0 0 0.5em;}
	
.hidden {display: none;}

/* --------------------------------------------------------------------------- */
/* ---------------------------------- QUERIES -------------------------------- */
/* --------------------------------------------------------------------------- */

div.noresp {min-width: 1000px;}

@media screen and (min-width: 400px) {
	.keyboard {padding: 0 0 0 80px;}
	.keyboard p {padding: 1rem 0 0;}
}

@media screen and (min-width: 800px) {
    h1 {
    	position: relative;
		top: -1em;
        font-size: 1.5em;
		white-space: nowrap;
       	-webkit-transform-origin: bottom right;
        -webkit-transform: rotate(-90deg);
       	-ms-transform-origin: bottom right;
        -ms-transform: rotate(-90deg);
       	transform-origin: bottom right;
        transform: rotate(-90deg);
    }
	#coding-arena {
		-webkit-display: flex;
		-ms-display: flex;
		display: flex;
	}
	header {
		margin-left: -18.5em;
		padding: 0 0.5em 0 0;
	}
	main {
		-webkit-flex: 1 1 50%;
		-ms-flex: 1 1 50%;
		flex: 1 1 50%;
		min-height: 22em;
	}
}


@media screen and (min-width: 1200px) {
	div.demo-block {float: left; width: 55%;}
	div.keyboard {float: right; width: 30%;}
	div.noresp div.demo-block, div.noresp div.keyboard {float: none; width: auto;}
}
