# EditorConfig helps developers define and maintain consistent coding styles
# between different editors and IDEs.

# EditorConig has support in a wide range of text editors. You can view a
# complete list—or download a plugin—at the EditorConfig website:
# http://editorconfig.org/#download

# More about editorconfig files on their website: http://EditorConfig.org

# For now, this is the topmost editor config file.
# Set to false if aria repo gets one.
root = true

[*.{html,css,js}]
charset = "utf-8"
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
block_comment_start = /*
block_comment = *
block_comment_end = */

[*.md]
charset = "utf-8"
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false

# Ignore third party content
[{/common/**,/examples/landmarks/js/visua11y.js,/examples/landmarks/css/bootstrap.css,/examples/landmarks/css/bootstrap-accessibility.css,/examples/menubar/menubar-1/images/separator.paint}]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset

# Ignore minfied files
[*.{min.js,pack.js}]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset
