language: node_js

node_js:
  - "node"

addons:
  firefox: "60.0.2"

git:
  depth: 3

stages:
- Test
- Deploy
jobs:
  include:
    - stage: Test
      name: AVA Regression Tests
      script: ava -c 1 test/tests
    - stage: Test
      name: Regression Tests Coverage Report
      script: node test/util/report.js
    - stage: Test
      name: CSS Linting
      script: npm run lint:css
    - stage: Test
      name: CSS Linting
      script: npm run lint:css
    - stage: Test
      name: JS Linting
      script: npm run lint:es
    - stage: Test
      name: HTML Linting
      script: npm run vnu-jar
    - stage: Deploy
      if: branch = master AND type != pull_request
      script: skip
      before_deploy: scripts/travis-before_deploy.sh
      deploy:
        provider: script
        skip_cleanup: true
        script: /tmp/deploy/travis-deploy.sh
        on:
          branch: master

env:
  - TEST_WAIT_TIME=1000
