language: node_js

node_js:
  - "lts/*"

git:
  depth: 3

stages:
- Lint

jobs:
  fast_finish: true
  allow_failures:
    - env: ALLOW_FAILURE=true

  include:
    - stage: Lint
      name: HTML Linting
      script: npm run vnu-jar
    - stage: Lint
      name: Spellcheck
      script: npm run lint:spelling
      env: ALLOW_FAILURE=true
    - stage: Lint
      name: Regression Tests Coverage Report
      script: node test/util/report.js
      env: ALLOW_FAILURE=true
