.tabs {
  font-family: "lucida grande", sans-serif;
}

.tabs-vertical {
  width: 550px;
  display: grid;
  grid: 80px 1fr;
}

.tabs-vertical [role="tablist"] {
  grid-column: 1;
  background: hsl(220deg 20% 94%);
  border: 2px solid hsl(220deg 20% 94%);
  border-right-width: 0;
  border-radius: 5px 0 0 5px;
}

.tabs-vertical .tabpanels {
  margin: 0;
  padding: 4px;
  grid-column: 2;
  border: 2px solid hsl(220deg 20% 94%);
  border-left-width: 0;
  height: 16em;
  overflow: auto;
  border-radius: 0 5px 5px 0;
}

[role="tab"] {
  display: block;
  width: 10em;
  margin: 0;
  margin-left: 6px;
  margin-bottom: 0.5em;
  padding: 4px;
  outline: 0;
  font-weight: bold;
  border: none;
  text-align: left;
}

[role="tab"][aria-selected="true"] {
  margin-left: 0;
  width: calc(10em + 6px);
  border-left: 6px solid #aaa;
  background: white;
}

[role="tab"] span.focus {
  display: inline-block;
  margin: 2px;
  padding: 4px 6px;
}

[role="tab"]:hover span.focus,
[role="tab"]:focus span.focus,
[role="tab"]:active span.focus {
  padding: 2px 4px;
  border: 2px solid rgb(36 116 214);
  border-radius: 3px;
}

[role="tabpanel"] {
  padding: 4px;
}

[role="tabpanel"].is-hidden {
  display: none;
}

[role="tabpanel"] p {
  margin: 0;
}
