ul.radiogroup,
ul.radiogroup li {
   margin: 0;
   padding: 0;
   list-style: none;
   width: 12em;
}

h3 {
   font-size: 110%;
   margin-top: 2em;
   margin-bottom: 0.25em;
}

li[role=radio] {
   margin: 0;
   padding: 0.25em;    
   border: 2px transparent solid;
   position: relative;
   left: -0.25em;
   width: 8em;
}

[role=radio][aria-checked='false']:before{
   content: url('../images/radio-unchecked.png');
   position: relative;
   top: 1px;
   left: 2px;
}

[role=radio][aria-checked='true']:before{
   content: url('../images/radio-checked.png');
   position: relative;
   top: 1px;
   left: 2px;
}

[role=radio]:hover {
   background-color: #DDDDDD;
}

[role=radio].focus {
   border-color: black;
   background-color: #EEEEEE;
}