#ex1 header {
  border: #005a9c solid 2px;
  background: #005a9c;
  color: white;
  text-align: center;
}

#ex1 header .title {
  font-size: 2.5em;
  font-weight: bold;
  font-family: serif;
}

#ex1 header .tagline {
  font-style: italic;
}

#ex1 footer {
  border: #005a9c solid 2px;
  background: #005a9c;
  font-family: serif;
  color: white;
  font-style: italic;
  padding-left: 1em;
}

#ex1 .body {
  display: grid;
  grid-template-columns: auto auto;
  border: #eee solid 2px;
}

#ex1 .body nav {
  margin: 0;
  padding: 0.5em;
  width: 17em;
  height: 60em;
  background: #eee;
}

#ex1 .body .page {
  margin: 0.25em;
  padding: 0.25em;
  height: 30em;
}

#ex1 .body .page h1 {
  margin: 0;
  padding: 0;
}

.treeview-navigation ul,
.treeview-navigation li {
  margin: 0;
  padding: 0;
  padding-left: 1em;
}

.treeview-navigation[role="tree"] {
  margin: 0;
  padding: 0;
  list-style: none;
}

.treeview-navigation[role="tree"] li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.treeview-navigation a[role="treeitem"] ul {
  margin: 0;
  padding: 0;
  margin-left: 0.5em;
}

.treeview-navigation
  a[role="treeitem"][aria-expanded="false"]
  + [role="group"] {
  display: none;
}

.treeview-navigation a[role="treeitem"][aria-expanded="true"] + [role="group"] {
  display: block;
}

.treeview-navigation a[role="treeitem"] > span svg {
  transform: translate(0, 0);
}

.treeview-navigation a[role="treeitem"][aria-expanded="false"] > span svg {
  transform: rotate(270deg) translate(2px, 2px);
}

.treeview-navigation a[role="treeitem"] {
  margin: 0;
  padding: 4px;
  text-decoration: none;
  color: #005a9c;
  border: none;
  display: block;
}

.treeview-navigation a[role="treeitem"][aria-current] {
  background-color: #005a9c;
  color: white;
}

/* disable default keyboard focus styling for treeitems
   Keyboard focus is styled with the following CSS */

.treeview-navigation a[role="treeitem"]:focus {
  outline: 0;
  background-color: #ddd;
  padding: 2px;
  border: 2px #005a9c solid;
}

.treeview-navigation a[role="treeitem"][aria-current]:focus,
.treeview-navigation a[role="treeitem"][aria-current]:hover {
  color: #005a9c;
}

.treeview-navigation a[role="treeitem"]:hover {
  background-color: #ccc;
  text-decoration: underline;
}
