.annotate {
  font-style: italic;
  color: #366ed4;
}

.combobox-list {
  position: relative;
}

.combobox-inline label,
.combobox-list label {
  margin: 0;
  padding: 0;
  display: block;
}

.combobox-list .group input,
.combobox-list .group button {
  display: inline;
  background-color: #eee;
}

.combobox-list .group input.focus {
  background-color: #d6e8f5;
  outline-color: #348ccb;
}

.combobox-list .group button {
  margin: 0;
  padding: 0 0.125em 0 0.125em;
  position: relative;
  top: 1px;
  left: -2px;
  font-size: 85%;
  background-color: #eee;
}
