[role="link"] {
  color: #009;
  background: transparent;
  text-decoration: underline;
}

[role="link"]:hover,
[role="link"]:focus,
[role="link"]:hover::before,
[role="link"]:focus::before {
  color: #000;
  cursor: pointer;
  outline: 0.2em solid hsl(219, 63%, 44%);
  outline-offset: 0.2em;
}

[role="link"].link3:hover,
[role="link"].link3:focus {
  outline: none;
}

[role="link"].link3::before {
  display: block;
  content: url("../images/w3c-logo.png");
  width: 153px;
  height: 104px;
}
