<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
  <title>Experimental Support Notice (Template)</title>
  <body>
    <h2 id="support-notice-header">Read This First</h2>
    <details id="support-notice" open>
      <summary>
        Experimental content! Do not use except for new standards development purposes.
        Please read below to understand why.
      </summary>
      <p>This is an experimental implementation of potential future techniques that may not yet be supported by web standards.</p>
      <ul>
        <li> This example may include ARIA, HTML, CSS, or other code that is not yet included in a final web standard specification. </li>
        <li>Experimental content is published in the APG only to facilitate discussion, gather feedback, and support testing of new features in browsers and assistive technologies.</li>
        <li>
          There may be little or no support for this example in any or most
          <a href="../../practices/read-me-first/read-me-first-practice.html#browser_and_AT_support">browser and assistive technology combinations</a>.
        </li>
        <li>The <a href="https://aria-at.w3.org">ARIA and Assistive Technologies Project</a> is developing measurements of assistive technology support for APG examples.</li>
      </ul>
    </details>
  </body>
</html>
