<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
  <title>Read This First (Template)</title>
  <body>
    <div class="read-this-first">
      <div class="text">
        <img
          src="../../images/read-this-first.svg"
          width="178"
          alt="Illustration of a brown-skinned woman with a slight smile gesturing towards the right with her hand"
        />
        <h2>Read This First</h2>
        <p>
          No ARIA is better than Bad ARIA. Before using any ARIA, <a href="../../practices/read-me-first/read-me-first-practice.html" aria-label="Read this to understand why no ARIA is better than bad ARIA">read this to understand why</a>.
        </p>
      </div>
    </div>
  </body>
</html>
