[role="button"] {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #555;
  border-radius: 5px;
  color: #000;
  background: #ddd;
}

[role="button"]:hover,
[role="button"]:focus {
  background-color: #eee;
	cursor: default;
}

[role="button"]:active {
  background-color: #bbb;
}

[role="button"][aria-pressed="true"] {
  color: #fff;
  background: #333;
}
