
/* .carousel */
.carousel-item {
  display: none;
  max-height: 400px;
  max-width: 900px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel .carousel-item.active {
  display: block;
}

/* More like bootstrap, less accessible */

.carousel .carousel-inner {
  max-width: 900px;
  position: relative;
}

.carousel .carousel-items {
  border: solid 2px transparent;
}

.carousel .carousel-items.focus {
  border-color: white;
  outline: solid 3px #005a9c;
}

.carousel .carousel-inner .carousel-image a img {
  height: 100%;
  width: 100%;
}

.carousel .carousel-inner .carousel-caption a {
  text-decoration: underline;
}

.carousel .carousel-inner .carousel-caption a,
.carousel .carousel-inner .carousel-caption span.contrast {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.6);
  padding-left: 0.25em;
  padding-right: 0.25em;
  border-radius: 5px;
  border: 2px solid transparent;
  margin: 0;
}

.carousel .carousel-inner .carousel-caption h3 a {
  color: #fff;
  font-weight: 600;
}

.carousel .carousel-inner .carousel-caption a:hover,
.carousel .carousel-inner .carousel-caption span.contrast:hover {
  background-color: rgba(0, 0, 0, 1);
  margin: 0;
}

.carousel .carousel-inner .carousel-caption a:focus {
  background-color: rgba(0, 0, 0, 1);
  border-color: #fff;
  margin: 0;
}

.carousel .carousel-inner .carousel-caption p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 0;
}

.carousel .carousel-inner .carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 0;
  left: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.carousel .carousel-inner,
.carousel .carousel-item,
.carousel .carousel-slide {
  max-height: 400px;
}

/* Next and Previous Slide Controls */

.carousel .carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10;
  background-color: transparent;
  width: 15%;
  border: 1px solid red;
}

.carousel .carousel-control svg polygon {
  opacity: 0.7;
}

.carousel .carousel-control svg circle {
  opacity: 0;
}

.carousel .carousel-control.previous {
  left: 0;
}

.carousel .carousel-control.next {
  right: 0;
}

.carousel .carousel-control.previous:focus,
.carousel .carousel-control.previous:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.0001) 100%);
  outline: none;
}

.carousel .carousel-control.next:focus,
.carousel .carousel-control.next:hover {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.7) 100%);
  outline: none;
}

/* Pause Control */

.carousel .carousel-pause {
  position: absolute;
  left: 45%;
  z-index: 10;
  background-color: transparent;
  border: none;
  outline: none;
}

.carousel .carousel-pause svg circle {
  stroke: black;
  opacity: 0.1;
  fill: black;
}

.carousel .carousel-pause.pause svg polygon {
  opacity: 0.7;
}

.carousel .carousel-pause.pause svg polygon.pause {
  stroke: white;
  fill: white;
}

.carousel .carousel-pause.pause svg polygon.play,
.carousel .carousel-pause.pause svg polygon.disabled {
  stroke: transparent;
  fill: transparent;
}

.carousel .carousel-pause.play svg polygon.pause,
.carousel .carousel-pause.play svg polygon.disabled {
  stroke: transparent;
  fill: transparent;
}

.carousel .carousel-pause.play svg polygon.play {
  stroke: white;
  fill: white;
}

.carousel .carousel-pause[aria-disabled=true] svg polygon.pause,
.carousel .carousel-pause[aria-disabled=true] svg polygon.play {
  stroke: transparent;
  fill: transparent;
}

.carousel .carousel-pause[aria-disabled=true] svg polygon.disabled {
  stroke: white;
  fill: white;
}

.carousel .carousel-pause[aria-disabled=true] svg circle.outer,
.carousel .carousel-pause[aria-disabled=true] svg circle.inner {
  opacity: 0.1;
  stroke: black;
  fill: black;
}

.carousel .carousel-pause[aria-disabled=true] svg polygon {
  opacity: 0.7;
}

/* Common focus styling for svg buttons */

.carousel .carousel-pause:focus svg polygon,
.carousel .carousel-pause:hover svg polygon,
.carousel .carousel-control:focus svg polygon,
.carousel .carousel-control:hover svg polygon {
  opacity: 1;
  stroke: white;
  fill: white;
}

.carousel .carousel-pause:focus svg circle.inner,
.carousel .carousel-control:focus svg circle.inner {
  stroke: white;
  opacity: 1;
  fill: #005a9c;
}

.carousel .carousel-pause:hover svg circle.outer,
.carousel .carousel-pause:hover svg circle.inner,
.carousel .carousel-control:hover svg circle.outer,
.carousel .carousel-control:hover svg circle.inner {
  stroke: #005a9c;
  opacity: 1;
  fill: #005a9c;
}

.carousel .carousel-pause:focus svg circle.outer,
.carousel .carousel-pause:hover svg circle.outer,
.carousel .carousel-control:focus svg circle.outer,
.carousel .carousel-control:hover svg circle.outer,
.carousel .carousel-pause[aria-disabled=true]:focus svg circle.outer,
.carousel .carousel-pause[aria-disabled=true]:hover svg circle.outer {
  stroke: #005a9c;
  opacity: 1;
}

.carousel .carousel-pause[aria-disabled=true]:focus svg circle.inner {
  stroke: white;
  opacity: 1;
  fill: #005a9c;
}

.carousel .carousel-pause[aria-disabled=true]:focus svg polygon.disabled,
.carousel .carousel-pause[aria-disabled=true]:hover svg polygon.disabled {
  opacity: 0.7;
  stroke: white;
  fill: white;
}

.carousel .carousel-pause[aria-disabled=true]:hover svg circle.outer,
.carousel .carousel-pause[aria-disabled=true]:hover svg circle.inner {
  stroke: #005a9c;
  opacity: 0.7;
  fill: #005a9c;
}
