figure button {
  margin: 0;
  margin-top: 1em;
  padding: 4px 8px;
  font-weight: bold;
  font-size: 110%;
  border: none;
  background-color: transparent;
  border-radius: 5px;
}

figure button:hover,
figure button:focus {
  padding: 2px 6px;
  background-color: #def;
  border: 2px solid #005a9c;
  cursor: pointer;
}

figure button img {
  transform: translate(4px, 0);
}

figure button[aria-expanded="true"] img {
  transform: rotate(90deg) translate(2px, -2px);
}

figure figcaption {
  text-align: left;
}

figure h3 {
  margin: 0;
  padding: 0;
  margin-top: 1em;
}

figure .long_desc table tr:nth-child(even) {
  background-color: #fed;
}
