[role="button"]:hover,
[role="button"]:focus {
  background-color: #eee;
	cursor: default;
}

[role="button"]:active {
  background-color: #bbb;
}

[role="button"][aria-expanded="false"]:before {
  content: "\0025BA";
  color: #630;
}

[role="button"][aria-expanded="true"]:before {
  content: "\0025BC";
  color: #630;
}
