[role="button"]:hover,
[role="button"]:focus {
  background-color: #eee;
	cursor: default;
}

[role="button"]:active {
  background-color: #bbb;
}

[role="button"][aria-expanded="false"]:before {
  content: "\0025BA \0000A0";
  color: #630;

}

[role="button"][aria-expanded="true"]:before {
  content: "\0025BC \0000A0";
  color: #630;
}

dl.faq dt {
    margin: 0;
    padding: 0;
    margin-top: 0.5em;
    font-weight: bold;
    font-size: 110%;
}


dl.faq dd {
    margin: 0;
    padding: 0;
    margin-top: 0.25em;
    margin-left: 1.5em;
    font-size: 110%;
    display: none;
}
