div.faq [role="button"] {
    margin: 0;
    padding: 0;
    margin-top: 1em;
    font-weight: bold;
    font-size: 110%;
}


div.faq .desc {
    margin: 0;
    padding: 0;
    margin-top: 0.25em;
    margin-left: 1.5em;
    font-size: 110%;
    display: none;
}

div.faq [role="button"]:hover,
[role="button"]:focus {
  background-color: #eee;
  text-decoration: underline;
}

div.faq [role="button"]:active {
  background-color: #bbb;
}

div.faq [role="button"][aria-expanded="false"]:before {
  content: url('../images/right-arrow-brown.png');
  padding-right: 0.35em;

}

div.faq [role="button"][aria-expanded="true"]:before {
  content: url('../images/down-arrow-brown.png');
  padding-right: 0.35em;
}

