figure button {
  margin: 0;
  padding: 0;
  margin-top: 1em;
  display: block;
  font-size: 110%;
  border: thin solid transparent;
  background-color: transparent;
  padding-left: 0.125em;
  position: relative;
  left: -0.35em;
}

figure button:hover,
figure button:focus {
  background-color: #eee;
}

figure button:focus {
  border-color: #630;
}

figure button:hover {
  text-decoration: underline;
}

figure button:active {
  background-color: #bbb;
}

figure button[aria-expanded="false"]::before {
  content: url("../images/right-arrow-brown.png");
  padding-right: 0.25em;
}

figure button[aria-expanded="true"]::before {
  content: url("../images/down-arrow-brown.png");
  padding-right: 0.25em;
}

figure figcaption {
  text-align: left;
}
