html,
body {
  font: normal 95% Helvetica, Verdana, Arial, sans-serif;
  color: #000;
  padding: 0;
  margin: 0;
}

body {
  padding: 0.5em 0.7em;
  margin: 0 4em 0 1em;
  background: #fff;
}

header {
  background-color: #630;
  color: white;
  padding: 0.25em;
}

header h1 {
  margin: 0;
  padding-top: 0.5em; 
  padding-bottom: 0.5em;
}

header nav {
    background-color: #630;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #630;
  color: white;
}

header nav li {
  margin: 0;
  padding: 0;
  margin-right: 0.25em;
  background-color: #630;
  display: inline;
}

header nav li a {
  padding: 0.25em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  color: white;
}

header nav li a:visited {
  color: white;
}

header nav li.active {
  background-color: white;
  color: #630;
}
header nav li.active a {
  text-decoration: none;
  background-color: white;
  color: #630;
}

header nav li.active a:hover {
  text-decoration: underline;
}

main {
  clear:  both;
  margin-top: 3em;
}

main h1,
h2,
h3 {
  font: normal 170%/100% Helvetica, Verdana, Arial, sans-serif;
  margin-top: 1em;
  margin-bottom: 0;
  color: #630;
  background: transparent;
}


main h1 {
  padding: 0.2em;
}

h2 {
  font: normal 150%/100% Helvetica, Verdana, Arial, sans-serif;
  margin-top: 2em;
}

h2.widget {
  border-bottom: thin solid #630;
}


h3 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font: normal 120%/95% Helvetica, Verdana, Arial, sans-serif;

}



a {
  color: #009;
  background: transparent;
}

a:visited {
  color:#360;
  background:transparent;
}

a:hover,
a:focus,
a:active {
  color:#000;
  background-color: #fc0;
}

img {
  max-width: 100%;
  border: none;
}

td ul li {
  margin-left: 1em;
}

code {
  font-family: "Courier new", Courier, Monospace;
  font-weight: bold;
}

.sourcecode {
  font-family: "Courier new", Courier, Monospace;
  margin: 0;
  padding: 1em;
  border: thin solid black;
  background: #EEEEEE;
  font-size: 120%;
}

#example {
  padding: 0.5em;
  margin-bottom: 2em;
  border: thin solid #630;
}

#example h2,
#example h3 {
  margin: 0;
  margin-top: 0.5em;
}


#example li + li {
  margin-top: .5em;
}

td.computed {
  color: green;
}

td.markup {
  color: sienna;
}

td.nu:before {
  color: gray;
}


