/* Style for syntax highlighting */
@import url("github.css");

body:not(.toc-inline) {
  padding-right: 1.5em;
  padding-left: 1.5em;
}

/* Code blocks */
pre,
code,
samp,
.sourcecode {
  color: hsl(11, 81%, 43%);
}

pre code:not(.hljs),
.sourcecode:not(.hljs) {
  margin: 1em 0;
  padding: 1em;
  border-radius: 0.2em;
  overflow: auto;
  background: hsl(24, 20%, 95%);
}

/* Style all kbd elements that are not in table headers */
:not(th) > kbd {
  display: inline-block;
  padding: 0.1em 0.3em;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 0.2em;
  box-shadow: inset 0 -1px 0 #bbb;
}

table.data.attributes tbody th,
table.data.attributes tbody td {
  border: 1px solid silver;
}

/* CodePen button */
.example-header {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  page-break-after: avoid;
  page-break-inside: avoid;
  font: 100% sans-serif;
  font-family: inherit;
  line-height: 1.2;
  hyphens: manual;
}

.example-header > :first-child {
  margin: 0;
}

.example-header > :first-child + * {
  margin-left: 1em;
}

.example-header button {
  display: inline-block;
  position: relative;
  padding: 0.4em 0.7em;
  border: 1px solid hsl(213, 71%, 49%);
  border-radius: 5px;
  box-shadow: 0 1px 2px hsl(216, 27%, 55%);
  color: #fff;
  font-size: inherit;
  text-shadow: 0 -1px 1px hsl(216, 27%, 25%);
  background-color: hsl(216, 82%, 51%);
  background-image: linear-gradient(
    to bottom,
    hsl(216, 82%, 53%),
    hsl(216, 82%, 47%)
  );
}

.example-header button:hover {
  border-color: hsl(213, 71%, 29%);
  background-color: hsl(216, 82%, 31%);
  background-image: linear-gradient(
    to bottom,
    hsl(216, 82%, 33%),
    hsl(216, 82%, 27%)
  );
  cursor: default;
}

.example-header button:focus {
  outline: none;
}

.example-header button:focus::before {
  position: absolute;
  z-index: -1;

  /* button border width - outline width - offset */
  top: calc(-1px - 3px - 3px);
  right: calc(-1px - 3px - 3px);
  bottom: calc(-1px - 3px - 3px);
  left: calc(-1px - 3px - 3px);
  border: 3px solid hsl(213, 71%, 49%);

  /* button border radius + outline width + offset */
  border-radius: calc(5px + 3px + 3px);
  content: "";
}

.example-header button:active {
  border-color: hsl(213, 71%, 49%);
  background-color: hsl(216, 82%, 31%);
  background-image: linear-gradient(
    to bottom,
    hsl(216, 82%, 53%),
    hsl(216, 82%, 47%)
  );
  box-shadow: inset 0 3px 5px 1px hsl(216, 82%, 30%);
}
