html,
body {
  font: normal 95% Helvetica, Verdana, Arial, sans-serif;
  color: #000;
  padding: 0;
  margin: 0;
}

body {
  padding: 0.5em 0.7em;
  margin: 0 4em 0 1em;
  max-width: 55em;
  background: #fff;
}

h1,
h2,
h3 {
  font: normal 170%/100% Helvetica, Verdana, Arial, sans-serif;
  margin-top: 1em;
  margin-bottom: 0;
  color: #630;
  background: transparent;
}

h1 {
  padding: 0.2em;
}

h2 {
  font: normal 150%/100% Helvetica, Verdana, Arial, sans-serif;
  margin-top: 2em;
}

h3 {
  font: normal 140%/120% Helvetica, Verdana, Arial, sans-serif;
}

a {
  color: #009;
  background: transparent;
}

a:visited {
  color:#360;
  background:transparent;
}

a:hover,
a:focus,
a:active {
  color:#000;
  background-color: #fc0;
}

img {
  max-width: 100%;
  border: none;
}

code {
  font-family: "Courier new", Courier, Monospace;
  font-weight: bold;
}

.sourcecode {
  font-family: "Courier new", Courier, Monospace;
  margin: 0;
  padding: 1em;
  border: thin solid black;
  background: #EEEEEE;
  font-size: 120%;
}

#example {
  margin-top: 1em;
  margin-bottom: 2em;
}

#example li + li {
  margin-top: .5em;
}
