table { 
 color: #333;
 font-family: Helvetica, Arial, sans-serif;
 border-collapse: collapse; 
 border-spacing: 0; 
}
 
td, th { 
 border: 1px solid transparent; /* No more visible border */
 transition: all 0.3s;  /* Simple transition for hover effect */
 text-align: left;
 vertical-align: top;
 padding: 0.5em;
 padding-right: 2em;
}
 
th {
 background: transparent;  /* Darken header a bit */
 font-weight: bold;
 border-bottom: solid black thin;
}

td ul {
  margin: 0;
  padding: 0;
}

td ul li {
  padding-bottom: 0.25em;
}
 
 

/* Cells in even rows (2,4,6...) are one color */ 
tr:nth-child(even) td { background: #F1F1F1; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
tr:nth-child(odd) td { background: #FEFEFE; }  
 
td .sourcecode {
	border: none;
	background-color: transparent;
}