button,
a[role=button] {
	margin: 0;
	padding: 0;
	text-decoration: none;
	display: block;
}

div[role="listbox"] a {
	display: block;
}

ul[role="listbox"] li {
	list-style: none;
}

[role="listbox"] {
	padding: 0;
	width: 8em;
	border: thin solid black;
	background-color: #EEEEEE;
}
[role="option"] {
	padding: 0.25em;
}

[role="option"]:focus,
[role="option"]:hover {
	background-color: #FFFFFF;
}