ul[role="menubar"] {
  margin: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.25em;
  font-size: 110%;
  list-style: none;
  background-color: #eee;
}

ul[role="menubar"] li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul[role="menubar"] > li {
  display: inline;
  position: relative;
}

ul[role="menubar"] > li > [role="menuitem"]::after {
  content: url('../images/down-arrow-brown.png');
  padding-left: 0.25em;
}

ul[role="menubar"] ul[role="menu"] {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
}

ul[role="menubar"] ul[role="group"] {
  margin: 0;
  padding: 0;
}

ul[role="menubar"] li[aria-disabled="true"] {
  color: #666;
  text-decoration: line-through;
}

ul[role="menubar"] [role="menuitem"],
ul[role="menubar"] [role="menuitemcheckbox"],
ul[role="menubar"] [role="menuitemradio"],
ul[role="menubar"] [role="separator"] {
  padding: 0.25em;
  background-color: #eee;
  border: 2px solid #eee;
  color: black;
}

ul[role="menubar"] ul li[role="menuitem"],
ul[role="menubar"] ul li[role="menuitemcheckbox"],
ul[role="menubar"] ul li[role="menuitemradio"],
ul[role="menubar"] ul li[role="separator"] {
  padding-left: 1.5em;
  width: 8em;
}

ul[role="menubar"] [role="separator"] {
  padding-top: 0.15em;
  background-image: url('../images/separator.png');
  background-position: center;
  background-repeat: repeat-x;
}

ul[role="menubar"] [role="menuitem"]:focus,
ul[role="menubar"] [role="menuitem"][aria-expanded="true"] {
  background-color: black;
  color: white;
  border: 2px solid black;
  outline: none;
}

ul[role="menubar"]:not(.focus) [role="menuitem"]:hover {
  background-color: #444;
  color: white;
}

ul[role="menubar"] [role="menu"] [role="menuitem"]:focus,
ul[role="menubar"] [role="menu"] [role="menuitemcheckbox"]:focus,
ul[role="menubar"] [role="menu"] [role="menuitemradio"]:focus {
  background-color: black;
  color: white;
  outline: none;
}

ul[role="menubar"] [role="menuitemcheckbox"][aria-checked='true'],
ul[role="menubar"] [role="menuitemradio"][aria-checked='true'] {
  padding-left: 0.5em;
  padding-right: 1.25em;
}

ul[role="menubar"] [role="menuitemcheckbox"][aria-checked='true']::before {
  content: url('../images/check-brown.png');
  padding-right: 0.3em;
}

ul[role="menubar"] [role="menuitemradio"][aria-checked='true']::before {
  content: url('../images/dot-brown.png');
  padding-right: 0.3em;
}

/*
* Text area styles
*/
.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

#textarea1 {
  padding: 0.5em;
  border: 1px solid black;
  height: 400px;
  width: 70%;
  font-size: medium;
  font-family: sans-serif;
}
