.tabs {
    width: 20em;
    font-family: "lucida grande", sans-serif;
}

[role="tab"] {
    margin: 0 0 -2px;
    border: 2px solid #444;
    border-radius: 0.4em 0.4em 0 0;
    font-family: inherit;
    font-size: inherit;
    background: #fff;
}

[role="tab"][aria-selected="true"] {
    border-color: hsl(218, 96%, 38%);
    color: #fff;
    background: hsl(212, 96%, 38%);
    outline: 0;
}

[role="tab"]:hover,
[role="tab"]:focus {
    border-color: hsl(20, 96%, 38%);
    color: #000;
    background: hsl(20, 96%, 70%);
    outline: 0;
}

[role="tabpanel"] {
    position: relative;
    z-index: 2;
    padding: 0.5em;
    border: 2px solid #444;
    border-radius: 0 0.4em 0.4em 0.4em;
}

[role="tabpanel"]:focus {
    border-color: hsl(20, 96%, 38%);
    outline: 0;
}

[role="tabpanel"] p {
    margin: 0;
}

[role="tabpanel"] * + p {
    margin-top: 1em;
}
