<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
  <meta charset="utf-8" />
  <title>Index of ARIA Examples</title>
  <script src="https://www.w3.org/Tools/respec/respec-w3c-common" class="remove"></script>
  <script src="../common/script/resolveReferences.js" class="remove"></script>
  <script src="../common/biblio.js" class="remove"></script>
  <script src="respec-config.js" class="remove"></script>
  <link href="../common/css/common.css" rel="stylesheet" type="text/css" />
</head>
<body>

  <section id="abstract">
    <p>
      This document provides readers with an index of <cite><a href="https://www.w3.org/TR/wai-aria-practices-1.1/"><abbr title="ARIA Authoring Practices">ARIA Authoring Practices </abbr> 1.1</a></cite> examples using <cite><a href="https://www.w3.org/TR/wai-aria-1.1/"><abbr title="Accessible Rich Internet Applications">WAI-ARIA</abbr> 1.1</a></cite> [[WAI-ARIA]] to create accessible rich internet applications.
      The index provides references to examples by role, properties and states.
      Not every role, property and state may have an example.
    </p>
    <p>This document is part of the WAI-ARIA suite described in the <a href="https://www.w3.org/WAI/intro/aria.php">WAI-ARIA Overview</a>.</p>
  </section>

  <section id="sotd">
    <p>
      This is an editor's draft by the
      <a href="https://www.w3.org/WAI/ARIA/">Accessible Rich Internet Applications Working Group</a>
      of the
      <a href="https://www.w3.org/WAI/">Web Accessibility Initiative</a>.
      It supports the
      <a href="" class="specref">WAI-ARIA 1.1</a> [<cite><a href="#bib-WAI-ARIA" class="bibref">WAI-ARIA</a></cite>]
      specification, providing detailed advice and examples beyond what would be appropriate to a technical specification but which are important to understand the specification.
    </p>
    <p> This draft includes only a portion of content planned for WAI-ARIA Authoring Practices Examples 1.1. To see plans for the complete guide, review the <a href="https://github.com/w3c/aria-practices/milestones?direction=asc&amp;sort=due_date&amp;state=open">Authoring Practices Milestone Plan</a>. </p>
    <p>
      Feedback on the  information provided here is essential to the ultimate success of Rich Internet Applications that afford full access to their information and operations.
      The Accessible Rich Internet Applications Working Group asks in particular:
    </p>
    <ul>
      <li>Is it clear which roles, properties and states are associated with each example?</li>
      <li>Is the usage of roles, states, and properties clear? </li>
      <li>Are the various types of rich Web content covered? </li>
      <li>Is the relationship of this document to the WAI-ARIA specification clear? </li>
    </ul>
    <p>
      To comment,
      <a href="https://github.com/w3c/aria-practices/issues/">file an issue in the <abbr title="World Wide Web Consortium">W3C</abbr> ARIA Practices GitHub repository</a>,
      or if that is not possible, send email to
      <a href="mailto:public-aria@w3.org?subject=Comment%20on%20WAI-ARIA%20Practices%201.1">public-aria@w3.org</a>
      (<a href="http://lists.w3.org/Archives/Public/public-aria/">comment archive</a>).
    </p>
  </section>

  <section id="examples_by_roles">

    <h2 id="examples_by_role_label">Examples by Role</h2>
    <table aria-labelledby="examples_by_role_label">
      <thead>
        <tr>
          <th>Role</th>
          <th>Examples</th>
        </tr>
      </thead>
      <tbody id="examples_by_role_tbody">

      </tbody>
    </table>

  </section>

  <section id="examples_by_props">

    <h2 id="examples_by_props_label">Examples By Properties and States</h2>
    <table aria-labelledby="examples_by_props_label">
      <thead>
        <tr>
          <th>Property or State</th>
          <th>Examples</th>
        </tr>
      </thead>
      <tbody id="examples_by_props_tbody">
      </tbody>
    </table>

  </section>



  <section id="appendices" class="appendix">
    <h2>Appendices</h2>
    <div data-include='../common/acknowledgements.html' data-include-replace='true'></div>
  </section>
</body>
</html>
