* {
  margin: 0;
  padding: 0;
}
.dateButton{
  border-style:none;
  padding:10px;
  text-align:left;
}
.dateButton:focus{
  outline:0;
}
.datepicker {
  width:40%;
  display:none;
}
#datepicker_label{
  padding:0;
  border:none;
}
.dates{
  width:100%;
}
th[scope="col"],.dateRow td{
  text-align:center;
}
.dateCell{
  width: 100%;
  font-size: 15px;
  border-style:none;
}
.fa-calendar-alt {
  color:hsl(216, 89%, 72%);
}
.header {
  cursor:default;
  background-color:hsl(216, 89%, 72%);
  height:34px;
  /* position:relative; */
  border-radius: 3px;
  font-weight:bold;
  text-transform:uppercase;
  color:white;
  display: flex;
  justify-content: space-around;
}
.header button{
  border-style:none;
  height:3em;
  background:transparent;
}

.header span {
  display:inline-block;
  line-height:34px;
}

.header .button{
 font-size:20px;
 width:24px;
 text-align:center;
}
.dateRow{
  border:1px solid black;
}

button[aria-selected="true"]{
  border-color: hsl(216, 94%, 73%);
  background-color: hsl(215, 51%, 77%);
  border-radius:5px;
}
.dateInput_label:not(:first-child){
  margin-left:55px;
}
.cell {
  border:none;
  padding:0;
  margin:0;
  height: 40px;
  width:40px;
}
.dateCell{
  padding:0;
  border:none;
  margin:0;
  line-height: inherit;
  height:100%;
}
.dateCell:focus{
  outline:0;
  padding:0;
  background-color: hsl(216, 80%, 92%);
  border-radius:5px;
}

.disabled, .dateCell:disabled{
  cursor: not-allowed;
  background: #dddddd;
  border-radius:5px;
  height:40px;
  width:40px;
}