* {
  margin: 0;
  padding: 0;
}
.datepickerButton{
  border-style:none;
  padding:5px;
  text-align:left;
  background-color:white;
}
label{
  display:block;
}

.datepickerInput{
  width:20%;
}

.datepickerDialog {
  width:45%;
  clear:both;
  display:none;
  border:3px solid rgb(130, 177, 230);
  margin-top: 5px;
  border-radius:5px;
  padding:0;
}
.dialogButtonGroup{
  text-align:right;
  margin-top:1em;
  margin-bottom:1em;
  margin-right:1em;
}
.dialogButton{
  padding:5px;
  border-radius:3px;
  margin-left:1em;
  width:5em;
  background-color:transparent;
  border: 1px solid #EEE;
}

.dates{
  width:100%;
  padding-left:1em;
  padding-right:1em;
}
th[scope="col"],.dateRow td{
  text-align:center;
}

.fa-calendar-alt {
  color:hsl(216, 89%, 72%);
}
.header {
  cursor:default;
  background-color:hsl(216, 89%, 72%);
  height:34px;
  font-weight:bold;
  text-transform:uppercase;
  color:white;
  display: flex;
  justify-content: space-around;
}
.header button{
  border-style:none;
  height:3em;
  background:transparent;
}

.header span {
  display:inline-block;
  line-height:34px;
}

.dateRow{
  border:1px solid black;
}

button[aria-selected="true"]{
  border-color: hsl(216, 94%, 73%);
  background-color: hsl(215, 51%, 77%);
  border-radius:5px;
}

.cell {
  outline:0;
  border:0;
  padding:0;
  margin:0;
  height: 40px;
  width:40px;
}
.dateCell{
  padding:0;
  margin:0;
  line-height: inherit;
  height:100%;
  width: 100%;
  font-size: 15px;
  border:1px solid #EEE;
  background:white;
  border-radius:5px;
}
.dateCell::-moz-focus-inner{
  border:0;
}
.dateCell:focus{
  outline:0;
  padding:0;
  background-color: hsl(216, 96%, 73%);
  border:1px solid black;
}
.lastFocused {
  outline:0;
  padding:0;
  background-color:hsl(216, 80%, 92%);
  border:1px solid rgb(100, 100, 100);
}
.disabled, .dateCell:disabled,{
  cursor: not-allowed;
  color: #afafaf;
  border-radius:5px;
  background:#EEE;
  border:1px solid transparent;
}