.datepicker-spinbuttons {
  margin-top: 1em;
}


.datepicker-spinbuttons .day {
  width: 2em;
}

.datepicker-spinbuttons .month {
  width: 6em;
}

.datepicker-spinbuttons .year {
  width: 3em;
}


.datepicker-spinbuttons .spinbutton {
  float: left;
  text-align: center;
}

.datepicker-spinbuttons .spinbutton .previous,
.datepicker-spinbuttons .spinbutton .next {
  color: gray;
}

.datepicker-spinbuttons .spinbutton .previous {
  border-bottom: 1px solid black;
}

.datepicker-spinbuttons .spinbutton .next {
  border-top: 1px solid black;
}


.datepicker-spinbuttons .spinbutton .decrease svg polygon,
.datepicker-spinbuttons .spinbutton .increase svg polygon {
  fill: #333;
  stroke-width: 3px;
  stroke: transparent;
}

.datepicker-spinbuttons .spinbutton .decrease {
  position: relative;
  top: 4px;
}

.datepicker-spinbuttons .spinbutton .decrease:hover svg polygon,
.datepicker-spinbuttons .spinbutton .increase:hover svg polygon {
  fill: #005A9C;
  stroke: #005A9C;
}

.datepicker-spinbuttons .spinbutton:focus svg polygon {
  fill: #005A9C;
  stroke: #005A9C;
}

div[role="separator"] {
  clear: both;
}

