[role="button"]:hover,
[role="button"]:focus {
  background-color: #eee;
	cursor: default;
}

[role="button"]:active {
  background-color: #bbb;
}

[role="button"][aria-expanded="false"]:before {
  content: url('../images/collapsed-16.png');
}

[role="button"][aria-expanded="true"]:before {
  content: url('../images/expanded-16.png');
}
