
li {
  padding: 0.125em;
  max-width: 15em;
}

.link5 {
  color: #cccccc;
  background: #444444;
}

.link5 a,
.link5 a:visited {
  display: inline-block;
  padding-left: 0.125em;
  padding-right: 0.125em;
  color: #444444;
  background: #cccccc;
  text-decoration: none;
}

.link6 {
  color: black;
  background: DarkOrange;
}

.link6 a,
.link6 a:visited {
  display: inline-block;
  padding-left: 0.125em;
  padding-right: 0.125em;
  color: DarkOrange;
  background: black;
  text-decoration: none;
}

.link7 {
  color: LemonChiffon;
  background: DarkRed;
}

.link7 a,
.link7 a:visited {
  display: inline-block;
  padding-left: 0.125em;
  padding-right: 0.125em;
  color: DarkRed;
  background: LemonChiffon;
  text-decoration: none;
}

.link8 {
  color: Gold;
  background: Maroon;
}

.link8 a,
.link8 a:visited {
  display: inline-block;
  padding-left: 0.125em;
  padding-right: 0.125em;
  color: Maroon;
  background: Gold;
  text-decoration: none;
}


@media (forced-colors: active) {
  a[href] {
    text-decoration: underline;
  }

.link5,
.link6,
.link7,
.link8 {
  color: canvas;
  background: canvasText;
}

.link5 a,
.link5 a:visited,
.link6 a,
.link6 a:visited,
.link7 a,
.link7 a:visited,
.link8 a,
.link8 a:visited {
  color: linkText;
  background: canvas;
}


}

.background {
  display: block;
  height: 150px;
  width: 400px;
  background-image: url('./green-arrow.jpg');
  background-position: center;
}


}

div img {
  width: 50%;
}

/* forced-colors */

#id-fc-none {
  display: none;
}

@media (forced-colors: none) {
  #id-fc-none {
    display: inline;
  }
}

#id-fc-active {
  display: none;
}

@media (forced-colors: active) {
  #id-fc-active {
    display: inline;
  }
}

/* prefers-color-theme */

#id-ct-undefined {
  display: inline;
}

#id-ct-light {
  display: none;
}

@media (prefers-color-theme: light) {
  #id-ct-light {
    display: inline;
  }

  #id-ct-undefined {
    display: none;
  }

}

#id-ct-dark {
  display: none;
}

@media (prefers-color-theme: dark) {
  #id-ct-dark {
    display: inline;
  }

  #id-ct-undefined {
    display: none;
  }

}



/* prefers-contrast */

#id-ic-np {
  display: none;
}

@media (prefers-contrast: no-preference) {
  #id-ic-np {
    display: inline;
  }
}

#id-ic-less {
  display: none;
}

@media (prefers-contrast: less) {
  #id-ic-less {
    display: inline;
  }
}

#id-ic-more {
  display: none;
}

@media (prefers-contrast: more) {
  #id-ic-more {
    display: inline;
  }
}

#id-ic-custom {
  display: none;
}

@media (prefers-contrast: custom) {
  #id-ic-custom {
    display: inline;
  }
}
