body {
  background: #fafafa;
  font-family: Helvetica, Arial, sans-serif;
}

#sidepanel {
  box-sizing: border-box;
  display: inline-block;
  padding-left: 1.5em;
  vertical-align: top;
  width: 29%;
}

#delay-time-select {
  display: block;
  margin-top: 5px;
  width: 10em;
}

#main-content {
  display: inline-block;
  vertical-align: top;
  min-width: 250px;
  width: 70%;
}

#restaurant-feed {
  max-width: 100%;
  width: 500px;
}

@media screen and (max-width: 560px) {
  #main-content {
    width: 100%;
  }
}

.restaurant-item {
  background: white;
  box-shadow: 1px 1px 6px #bbb;
  margin-bottom: 15px;
  padding-top: 15px;
}

.restaurant-details {
  display: inline-block;
  margin-bottom: 10px;
  padding-left: 15px;
  vertical-align: top;
  width: 55%;
}

.restaurant-name {
  font-size: 18px;
  margin-bottom: 2px;
}

.restaurant-star-img {
  width: 90px;
}

.restaurant-type {
  color: #777;
  font-size: 13px;
}

.location-block {
  color: #777;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 10px;
  font-size: 14px;
  line-height: 1.3em;
}

.restaurant-actions {
  box-sizing: border-box;
  background: #a2afbc;
  padding: 10px;
  width: 100%;
}
