[role=radio] {
   margin: 0;
   padding: 0.125em;    
   padding-left: 0.25em;    
   border: 2px transparent solid;
   margin-bottom: .25em;
   margin-top: .25em;
   position: relative;
   left: -0.25em;
   width: 8em;
}

[role=radio][aria-checked='false']:before{
   content: url('../images/radio-unchecked.png');
   position: relative;
   top: 1px;
}

[role=radio][aria-checked='true']:before{
   content: url('../images/radio-checked.png');
   position: relative;
   top: 1px;
}

[role=radio]:hover {
   background-color: #DDDDDD;
}

[role=radio].focus {
   border-color: black;
   background-color: #EEEEEE;
}