
/* .carousel */

.carousel-tablist {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #eee;
  border: #eee solid 4px;
  border-radius: 5px;
}

.carousel-tablist .carousel-item {
  padding: 0;
  margin: 0;
  display: none;
  max-width: 900px;
  position: relative;
  width: 100%;
}

.carousel-tablist .carousel-item.active {
  display: block;
}

.carousel-tablist .carousel-items .carousel-image {
  margin: 0;
  padding: 1px;
  border: 4px solid transparent;
}

.carousel-tablist .carousel-items.focus .carousel-image {
  border-color: #005a9c;
}

.carousel-tablist .carousel-items .carousel-image a[href],
.carousel-tablist .carousel-items .carousel-image a[href]:focus {
  padding: 0;
  margin: 0;
  border: none;
}

.carousel-tablist .carousel-item .carousel-image a img {
  width: 100%;
}

/* More accessible caption stylinh */

.carousel-tablist .carousel-item .carousel-caption a {
  cursor: pointer;
}

.carousel-tablist .carousel-item .carousel-caption {
  padding: 0;
  margin: 0;
  height: 60px;
  width: 100%;
  right: 15%;
  left: 15%;
  color: black;
  text-align: center;
}

.carousel-tablist .carousel-item .carousel-caption a {
  display: inline-block;
  margin: 0;
  padding: 6px;
  color: black;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
}

.carousel-tablist .carousel-item .carousel-caption p {
  padding: 0;
  margin: 0;
  font-size: 1em;
  line-height: 1.5;
}

.carousel-tablist .carousel-item .carousel-caption h3 {
  font-size: 1.1em;
  padding: 0;
  margin: 0;
}

.carousel-tablist .carousel-item .carousel-caption h3 a {
  font-weight: 600;
}

.carousel-tablist .carousel-item .carousel-caption a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-tablist .carousel-item .carousel-caption a:focus {
  padding: 4px;
  border: 2px solid #005a9c;
  outline: 2px dotted transparent;
}

/* Shared CSS for Pause and Tab Controls */

.carousel-tablist .controls {
  position: relative;
}

/* Pause Control */

.carousel-tablist .controls button.rotation {
  padding: 0;
  position: absolute;
  background-color: transparent;
  border: none;
  outline: none;
  top: 6px;
  left: 6px;
  z-index: 20;
}

.carousel-tablist .controls button svg rect.background {
  stroke: black;
  fill: black;
  stroke-width: 1px;
  opacity: 0.6;
}

.carousel-tablist .controls button svg rect.border {
  fill: transparent;
  stroke: transparent;
  stroke-width: 2px;
}

.carousel-tablist .controls button.rotation svg polygon.pause {
  stroke-width: 4;
  fill: transparent;
  stroke: transparent;
}

.carousel-tablist .controls button.rotation svg polygon.play {
  stroke-width: 1;
  fill: transparent;
  stroke: transparent;
}

.carousel-tablist .controls button.rotation.pause svg polygon.pause,
.carousel-tablist .controls button.rotation.play svg polygon.play {
  fill: white;
  stroke: white;
}

.carousel-tablist .controls button.rotation:focus rect.background,
.carousel-tablist .controls button.rotation:hover rect.background,
.carousel-tablist .controls button.rotation:focus rect.border,
.carousel-tablist .controls button.rotation:hover rect.border {
  fill: #005a9c;
  stroke: #005a9c;
  opacity: 1;
}

.carousel-tablist .controls button.rotation:focus rect.border {
  stroke: white;
}

/* Shared CSS for Tabs */

.carousel-tablist [role="tablist"] {
  text-align: center;
}

.carousel-tablist [role="tablist"] {
  position: relative;
  top: 5px;
  display: inline-block;
  border: 0 transparent solid;
  border-radius: 13px;
  padding-top: 2px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-tablist [role="tablist"].focus {
  border-width: 2px;
  border-color: white;
  padding-top: 0;
  background-color: #005a9c;
  height: 26px;
}

.carousel-tablist button[role="tab"] {
  position: relative;
  top: -2px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
  width: 34px;
  z-index: 20;
}

.carousel-tablist [role="tab"] circle.border {
  display: none;
  z-index: 14;
}

.carousel-tablist [role="tab"] circle.tab {
  z-index: 18;
}

.carousel-tablist [role="tab"] circle.tab-background {
  stroke: black;
  fill: black;
  stroke-width: 2px;
  opacity: 0.6;
  z-index: 16;
}

.carousel-tablist [role="tab"] circle.tab,
.carousel-tablist [role="tab"] circle.border {
  stroke: white;
  fill: transparent;
  stroke-width: 2px;
}

.carousel-tablist [role="tab"][aria-selected="true"] circle.tab {
  fill: white;
}

.carousel-tablist [role="tab"]:focus circle.border {
  display: block;
}

.carousel-tablist [role="tablist"] .focus circle.tab-background {
  stroke: #005a9c;
  fill: #005a9c;
}

.carousel-tablist [role="tab"]:hover circle.tab-background {
  fill: white;
  stroke: white;
  opacity: 1;
}

.carousel-tablist [role="tab"]:hover circle.border,
.carousel-tablist [role="tab"]:hover circle.tab {
  fill: #005a9c;
  stroke: #005a9c;
  opacity: 1;
}

.carousel-tablist [role="tab"][aria-selected="true"]:hover circle.tab {
  fill: white;
}
