
/* .carousel */
.carousel-item {
  display: none;
  max-height: 400px;
  max-width: 900px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel .carousel-item.active {
  display: block;
}

/* More like bootstrap, less accessible */

.carousel .carousel-inner {
  max-width: 900px;
  position: relative;
}

.carousel .carousel-items {
  border: solid 2px transparent;
}

.carousel .carousel-items.focus {
  border-color: white;
  outline: solid 3px #005a9c;
}

.carousel .carousel-inner .carousel-image a img {
  height: 100%;
  width: 100%;
}

.carousel .carousel-inner .carousel-caption a {
  text-decoration: underline;
}

.carousel .carousel-inner .carousel-caption a,
.carousel .carousel-inner .carousel-caption span.contrast {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.65);
  padding-left: 0.25em;
  padding-right: 0.25em;
  border-radius: 5px;
  border: 2px solid transparent;
  margin: 0;
}

.carousel .carousel-inner .carousel-caption h3 a {
  color: #fff;
  font-weight: 600;
}

.carousel .carousel-inner .carousel-caption a:hover,
.carousel .carousel-inner .carousel-caption span.contrast:hover {
  background-color: rgba(0, 0, 0, 1);
  margin: 0;
}

.carousel .carousel-inner .carousel-caption a:focus {
  background-color: rgba(0, 0, 0, 1);
  border-color: #fff;
  margin: 0;
}

.carousel .carousel-inner .carousel-caption p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 0;
}

.carousel .carousel-inner .carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 0;
  left: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.carousel .carousel-inner,
.carousel .carousel-item,
.carousel .carousel-slide {
  max-height: 400px;
}

/* Shared CSS for Pause, Next and Previous Slide Controls */

.carousel .controls button {
  padding: 0;
  position: absolute;
  top: 5px;
  z-index: 10;
  background-color: transparent;
  border: none;
  outline: none;
}

.carousel .controls button svg rect.background {
  stroke: black;
  fill: black;
  stroke-width: 1px;
  opacity: 0.6;
}

.carousel .controls button svg rect.border {
  fill: transparent;
  stroke: transparent;
  stroke-width: 2px;
}

.carousel .controls button[aria-disabled=true] svg rect.background,
.carousel .controls button[aria-disabled=true] svg rect.border {
  opacity: 1;
  stroke: #555;
  fill: #555;
}

/* Next and Previous Slide Controls */

.carousel .controls button svg polygon {
  stroke: white;
  fill: white;
  stroke-width: 2;
  opacity: 1.0;
}

.carousel .controls button.previous {
  right: 50px;
}

.carousel .controls button.next {
  right: 6px;
}

/* Pause Control */

.carousel .controls button.rotation {
  left: 6px;
}

.carousel .controls button.rotation svg polygon.pause {
  stroke-width: 4;
  fill: transparent;
  stroke: transparent;
}

.carousel .controls button.rotation svg polygon.play {
  stroke-width: 1;
  fill: transparent;
  stroke: transparent;
}

.carousel .controls button.rotation.pause svg polygon.pause,
.carousel .controls button.rotation.play svg polygon.play {
  fill: white;
  stroke: white;
}

.carousel .controls button.rotation.pause[aria-disabled=true] svg polygon.pause,
.carousel .controls button.rotation.play[aria-disabled=true] svg polygon.play {
  fill: #ddd;
  stroke: #ddd;
}

/* Common focus styling for svg buttons */

.carousel .controls button:focus rect.background,
.carousel .controls button:hover rect.background,
.carousel .controls button:focus rect.border,
.carousel .controls button:hover rect.border {
  fill: #005a9c;
  stroke: #005a9c;
  opacity: 1.0;
}

.carousel .controls button:focus rect.border,
.carousel .controls button[aria-disabled=true]:focus rect.border {
  stroke: white;
}

