
/* .carousel-tablist */

.carousel-tablist {
  background-color: #eee;
}

.carousel-tablist .carousel-inner {
  position: relative;
}

.carousel-tablist .carousel-items {
  border: solid 2px transparent;
}

.carousel-tablist [role=tabpanel] {
  display: none;
  max-height: 400px;
  max-width: 900px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-tablist .carousel-items.focus {
  border-color: white;
  outline: solid 3px #005a9c;
}

.carousel-tablist [role=tabpanel].active {
  display: block;
}

/* More like bootstrap, less accessible */

.carousel-tablist [role=tabpanel] .carousel-caption,
.carousel-tablist [role=tabpanel] .carousel-image a img {
  cursor: url('../images/paused-pointer.svg'), auto;
}

.carousel-tablist [role=tabpanel] .carousel-caption a {
  cursor: pointer;
}


.carousel-tablist [role=tabpanel] .carousel-image a img {
  height: 100%;
  width: 100%;
}

.carousel-tablist [role=tabpanel] .carousel-caption a {
  text-decoration: underline;
}

.carousel-tablist [role=tabpanel] .carousel-caption a,
.carousel-tablist [role=tabpanel] .carousel-caption span.contrast {
  margin: 0;
  padding: 6px;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 5px;
  border: 0 solid transparent;
}

.carousel-tablist [role=tabpanel] .carousel-caption h3 a {
  color: #fff;
  font-weight: 600;
}

.carousel-tablist [role=tabpanel] .carousel-caption a:hover,
.carousel-tablist [role=tabpanel] .carousel-caption span.contrast:hover {
  background-color: rgba(0, 0, 0, 1);
}

.carousel-tablist [role=tabpanel] .carousel-caption a:focus {
  padding: 4px;
  border-width: 2px;
  background-color: rgba(0, 0, 0, 1);
  border-color: #fff;
  outline: 2px dotted transparent;
}

.carousel-tablist [role=tabpanel] .carousel-caption p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 0;
}

.carousel-tablist [role=tabpanel] .carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 0;
  left: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

/* Shared CSS for Pause and Tab Controls */

.carousel-tablist .controls {
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 10;
}

/* SVG Controls */

.carousel-tablist .controls button.rotation {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 10;
}

.carousel-tablist .controls button svg rect.background {
  stroke: black;
  fill: black;
  stroke-width: 1px;
  opacity: 0.6;
}

.carousel-tablist .controls button svg rect.border {
  fill: transparent;
  stroke: transparent;
  stroke-width: 2px;
}

.carousel-tablist .controls button.rotation svg polygon.pause {
  stroke-width: 4;
  fill: transparent;
  stroke: transparent;
}

.carousel-tablist .controls button.rotation svg polygon.play {
  stroke-width: 1;
  fill: transparent;
  stroke: transparent;
}

.carousel-tablist .controls button.rotation.pause svg polygon.pause,
.carousel-tablist .controls button.rotation.play svg polygon.play {
  fill: white;
  stroke: white;
}

.carousel-tablist .controls button.rotation:focus rect.background,
.carousel-tablist .controls button.rotation:hover rect.background,
.carousel-tablist .controls button.rotation:focus rect.border,
.carousel-tablist .controls button.rotation:hover rect.border {
  fill: #005a9c;
  stroke: #005a9c;
  opacity: 1;
}

.carousel-tablist .controls button.rotation:focus rect.border {
  stroke: white;
}

/* Shared CSS for Tabs */

.carousel-tablist [role="tablist"] {
  position: relative;
  float: right;
  top: -2px;
}

.carousel-tablist [role="tablist"] .border {
  display: inline-block;
  border: 0 transparent solid;
  border-radius: 13px;
  padding-top: 2px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-tablist [role="tablist"] .border.focus {
  border-width: 2px;
  border-color: white;
  padding-top: 0;
  background-color: #005a9c;
  height: 26px;
}

.carousel-tablist [role="tab"] {
  position: relative;
  top: -2px;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
  width: 34px;
}

.carousel-tablist [role="tab"] circle.border {
  display: none;
  z-index: 12;
}

.carousel-tablist [role="tab"] circle.tab {
  z-index: 16;
}

.carousel-tablist [role="tab"] circle.tab-background {
  stroke: black;
  fill: black;
  stroke-width: 2px;
  opacity: 0.6;
  z-index: 14;
}

.carousel-tablist [role="tab"] circle.tab,
.carousel-tablist [role="tab"] circle.border {
  stroke: white;
  fill: transparent;
  stroke-width: 2px;
}

.carousel-tablist [role="tab"][aria-selected="true"] circle.tab {
  fill: white;
}

.carousel-tablist [role="tab"]:focus circle.border {
  display: block;
  fill: #005a9c;
  stroke: #005a9c;
}

.carousel-tablist [role="tablist"] .focus circle.tab-background {
  stroke: #005a9c;
  fill: #005a9c;
}

.carousel-tablist [role="tab"]:hover circle.tab-background {
  fill: white;
  stroke: white;
  opacity: 1;
}

.carousel-tablist [role="tab"]:hover circle.border,
.carousel-tablist [role="tab"]:hover circle.tab {
  fill: #005a9c;
  stroke: #005a9c;
  opacity: 1;
}

.carousel-tablist [role="tab"][aria-selected="true"]:hover circle.tab {
  fill: white;
}
