.annotate{
	font-style: italic;
	color: #366ED4;
}

.combobox10 {
  position: relative;
}

.combobox10 label {
  margin: 0;
  padding: 0;
  display: block;
}

.combobox10 .group input,
.combobox10 .group button {
  display: inline;
}

.combobox10 .group button {
  margin: 0;
  padding: 0 0.125em 0 0.125em;
  position: relative;
  top: 1px;
  left: -2px;
  font-size: 85%;
  background-color: #eee;
}

