ul[role="listbox"] {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 3em;
  list-style: none;
  background-color: #eee;
  display: none;
  border: thin #333 solid;
  height: 12em;
  width: 12em;
  overflow: scroll;
}

ul[role="listbox"].focus {
  border-color: #348ccb;
}


ul[role="listbox"] li[role="option"]{
  display: block;
  margin: 0.25em;
  padding: 0;
  background-color: #eee;
  font-size: 100%;
}

/* focus and hover styling */

button:focus,
button:hover,
input:focus,
input:hover {
  outline: 2px solid black;
}

input:focus,
input:hover {
  background-color: #eee;
}

ul[role="listbox"] li[role="option"].current {
  background-color: #ccc;
}

ul[role="listbox"].focus li[role="option"].current,
ul[role="listbox"] li[role="option"]:hover {
  background-color: #c2ddef;
}

