.text-styling {
  margin: 0;
  padding: 0;
  width: 560px;
}

.text-styling textarea {
  padding: 4px;
  margin: 0;
  border: 2px solid black;
  height: 400px;
  width: 548px;
  font-size: medium;
  font-family: sans-serif;
}

.text-styling textarea:focus {
  padding: 4px;
  border: #034575 solid 2px;
}


ul[role="menubar"] {
  margin: 0;
  padding: 1px;
  font-size: 110%;
  list-style: none;
  background-color: #eee;
  border: #eee solid 1px;
  height: 32px;
  display: block;
}

ul[role="menubar"] li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul[role="menubar"] > li {
  display: inline-block;
  position: relative;
  top: 3px;
  left: 1px;
}

ul[role="menubar"] > li > [role="menuitem"]::after {
  content: url('../images/down-arrow-brown.png');
  padding-left: 0.25em;
}

ul[role="menubar"] ul[role="menu"] {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 4px;
}

ul[role="menubar"] ul[role="group"] {
  margin: 0;
  padding: 0;
}

ul[role="menubar"] li[aria-disabled="true"] {
  color: #666;
  text-decoration: line-through;
}

ul[role="menubar"] [role="menuitem"],
ul[role="menubar"] [role="menuitemcheckbox"],
ul[role="menubar"] [role="menuitemradio"],
ul[role="menubar"] [role="separator"] {
  padding: 6px;
  background-color: #eee;
  border: 0px solid #eee;
  color: black;
}

ul[role="menubar"] [role="menu"] [role="menuitem"],
ul[role="menubar"] [role="menu"] [role="menuitemcheckbox"],
ul[role="menubar"] [role="menu"] [role="menuitemradio"],
ul[role="menubar"] [role="menu"] [role="separator"] {
  padding-left: 27px;
  width: 8em;
}

ul[role="menubar"] [role="separator"] {
  padding-top: 3px;
  background-image: url('../images/separator.svg');
  background-position: center;
  background-repeat: repeat-x;
}

ul[role="menubar"] [role="menu"] [aria-checked='true'] {
  padding: 6px;
  padding-left: 10px;
  padding-right: 18px;
}

ul[role="menubar"] [role='menuitemradio'][aria-checked='true']::before {
  content: url('../images/radio-checked.svg');
  padding-right: 5px;
}

ul[role="menubar"] [role='menuitemcheckbox'][aria-checked='true']::before {
  content: url('../images/checkbox-checked.svg');
  padding-right: 5px;
}


/* focus and hover styling */

ul[role="menubar"].focus.item,
ul[role="menubar"].focus {
  border-width: 2px;
  border-color: #034575;
}

ul[role="menubar"].focus [role="menu"] {
  padding: 2px;
  border: 1px solid #034575;
  background-color: #eee;
}

ul[role="menubar"].focus [role="menu"].item  {
  padding: 0;
  border: 3px solid #034575;
  background-color: #eee;
}

ul[role="menubar"] [role="menuitem"]:focus,
ul[role="menubar"] [role="menuitemcheckbox"]:focus,
ul[role="menubar"] [role="menuitemradio"]:focus {
  padding: 4px;
  border: 2px solid #034575;
  background-color: #034575;
  color: #fff;
  outline: none;
}

ul[role="menubar"] [role='menuitemradio'][aria-checked='true']:focus::before {
  content: url('../images/radio-checked-focus.svg');
}

ul[role="menubar"] [role='menuitemcheckbox'][aria-checked='true']:focus::before {
  content: url('../images/checkbox-checked-focus.svg');
  padding-right: 5px;
}


ul[role="menubar"] [role="menuitem"]:hover {
  margin: 2px;
  padding: 2px;
  border: 2px solid #034575;
}

ul[role="menubar"] [role="menu"] [role="menuitem"]:focus,
ul[role="menubar"] [role="menu"] [role="menuitemcheckbox"]:focus,
ul[role="menubar"] [role="menu"] [role="menuitemradio"]:focus {
  padding-left: 25px;
}

ul[role="menubar"] [role="menu"] [role="menuitem"][aria-checked='true']:focus,
ul[role="menubar"] [role="menu"] [role="menuitemcheckbox"][aria-checked='true']:focus,
ul[role="menubar"] [role="menu"] [role="menuitemradio"][aria-checked='true']:focus {
  padding-left: 8px;
  padding-right: 21px;
}

/*
* Text area styles
*/
.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

#textarea1 {
  padding: 0.5em;
  border: 1px solid black;
  height: 400px;
  width: 70%;
  font-size: medium;
  font-family: sans-serif;
}
