#ex1 header {
  border: #005a9c solid 2px;
  background: #005a9c;
  color: white;
  text-align: center;
}

#ex1 header .title {
  font-size: 2.5em;
  font-weight: bold;
  font-family: serif;
}

#ex1 header .tagline {
  font-style: italic;
}

#ex1 .main {
  padding-top: 1em;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5em;
  border-left: 2px solid #eee;
  border-right: 2px solid #eee;
}

#ex1 footer {
  border: #005a9c solid 2px;
  background: #005a9c;
  font-family: serif;
  color: white;
  font-style: italic;
  padding-left: 1em;
}

#ex1 nav {
  margin: 0;
  padding: 0;
  border: 2px solid #eee;
}

.menubar-navigation {
  margin: 0;
  padding: 7px;
  font-size: 110%;
  list-style: none;
  background-color: #eee;
  border: #eee solid 1px;
}

.menubar-navigation li {
  margin: 0;
  padding: 0;
  border: 0 solid black;
  list-style: none;
}

.menubar-navigation > li {
  display: inline-block;
  position: relative;
}

.menubar-navigation > li li {
  display: block;
}

.menubar-navigation [role="menu"] [role="menuitem"],
.menubar-navigation [role="menu"] [role="separator"] {
  display: block;
  width: 12em;
  margin: 0;
  padding: 6px;
  padding-left: 9px;
  background-color: #eee;
  border: 0 solid #eee;
  color: black;
}

.menubar-navigation > li > a[role="menuitem"] {
  display: inline-block;
  padding: 6px;
  padding-bottom: 9px;
  background-color: #eee;
  border: 0 solid #eee;
  color: black;
}

.menubar-navigation [role="menuitem"] svg {
  fill: currentColor;
  stroke: currentColor;
}

.menubar-navigation [role="menuitem"] svg.down {
  padding-left: 0.125em;
}

.menubar-navigation [role="menuitem"] svg.right {
  position: absolute;
  padding-top: 0.35em;
  right: 0.75em;
}

.menubar-navigation [role="menuitem"][aria-expanded="true"] svg.down {
  transform: rotate(180deg);
}

.menubar-navigation [role="menuitem"][aria-expanded="true"] svg.right {
  transform: rotate(90deg) translate(5px, -5px);
}

.menubar-navigation > li > [role="menuitem"] {
  display: inline-block;
}

.menubar-navigation [role="menu"] {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  padding: 7px 4px;
  border: 2px solid #034575;
  background-color: #eee;
}

.menubar-navigation [role="group"] {
  margin: 0;
  padding: 0;
}

.menubar-navigation [role="separator"] {
  padding-top: 3px;
  background-image: url("../images/separator.svg");
  background-position: center;
  background-repeat: repeat-x;
}

/* aria-current styling */

.menubar-navigation [role="menu"] [role="menuitem"].aria-current-path,
.menubar-navigation [role="menu"] [role="menuitem"][aria-current] {
  padding-left: 4px;
  border-left: 5px solid #034575;
  background-color: #ccc;
}

.menubar-navigation > li > a[role="menuitem"][aria-current],
.menubar-navigation > li > a[role="menuitem"].aria-current-path {
  padding-bottom: 4px;
  border-bottom: 5px solid #034575;
  background-color: #ccc;
}

/* focus styling */

.menubar-navigation.focus {
  padding: 6px;
  border: #034575 solid 2px;
}

.menubar-navigation [role="menu"] [role="menuitem"][aria-expanded="true"],
.menubar-navigation [role="menu"] [role="menuitem"]:focus,
.menubar-navigation [role="menu"] [role="menuitem"]:hover {
  outline: none;
  padding: 4px;
  padding-left: 7px;
  border: 2px solid #034575;
}

.menubar-navigation [role="menu"] [role="menuitem"].aria-current-path:focus,
.menubar-navigation [role="menu"] [role="menuitem"].aria-current-path:hover,
.menubar-navigation [role="menu"] [role="menuitem"][aria-current]:focus,
.menubar-navigation [role="menu"] [role="menuitem"][aria-current]:hover {
  padding-left: 4px;
  border-left: 5px solid #034575;
}

.menubar-navigation > li > a[role="menuitem"][aria-expanded="true"],
.menubar-navigation > li > a[role="menuitem"]:focus,
.menubar-navigation > li > a[role="menuitem"]:hover {
  outline: none;
  padding: 4px;
  padding-bottom: 7px;
  border: 2px solid #034575;
}

.menubar-navigation > li > a[role="menuitem"].aria-current-path:focus,
.menubar-navigation > li > a[role="menuitem"].aria-current-path:hover,
.menubar-navigation > li > a[role="menuitem"][aria-current]:focus,
.menubar-navigation > li > a[role="menuitem"][aria-current]:hover {
  padding-bottom: 4px;
  border-bottom: 5px solid #034575;
}
