.annotate {
	font-style: italic;
	color: #366ED4;
}

.hidden {
	display: none !important;
}

[role="button"] {
	cursor: pointer;
}

[aria-sort="ascending"] {
	position: relative;
}

[aria-sort="ascending"]::after {
	content: " ";
	border-bottom: 0.4em solid black;
	border-left: 0.4em solid transparent;
	border-right: 0.4em solid transparent;
  position: absolute;
  right: 1em;
  top: 0.8em;
}

[aria-sort="descending"] {
	position: relative;
}

[aria-sort="descending"]::after {
	content: " ";
	border-left: 0.4em solid transparent;
	border-right: 0.4em solid transparent;
	border-top: 0.4em solid black;
  position: absolute;
  right: 1em;
  top: 0.8em;
}

.edit-text-button {
	color: green;
	display: block;
	position: relative;
}

.edit-text-button::after {
	background-image: url('../imgs/pencil-icon.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 44px;
	content: ' ';
	height: 17px;
	opacity: 0.6;
	position: absolute;
	right: -24px;
	top: 0px;
	width: 20px;
}

.edit-text-button:hover, .edit-text-button:focus {
	color: black;
}

.edit-text-button:hover::after, .edit-text-button:focus::after {
	opacity: 1;
}
