.hidden {
	display: none !important;
}

.list-links {
  font-size: 0px;
}

.list-link {
  background: #eee;
  border: 1px solid #bbb;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  margin: 5px 0 0 0;
  padding: 5px;
  vertical-align: middle;
  width: 120px;
}

.pill-list {
  margin-bottom: 5px;
}

.pill-item {
  background: #eee;
  border: 1px solid #acc1e4;
  border-radius: 2px;
  color: #acc1e4;
  display: inline-block;
  margin: 5px 5px 5px 0;
  padding: .5em;
}

.pill-name {
  text-decoration: none;
}

.pill-remove {
  cursor: default;
  margin-left: 10px;
}

#add-recipient-input {
  font-size: 14px;
}
