[role="radiogroup"] {
  padding: 0;
  margin: 0;
  list-style: none;
}

[role="radiogroup"]:focus {
  outline: none;
}

[role="radio"] {
  padding: 4px;
  padding-left: 30px;
  padding-right: 8px;
  border: 0 solid transparent;
  border-radius: 5px;
  display: inline-block;
  position: relative;
  cursor: default;
  outline: none;
}

[role="radio"] + [role="radio"] {
  margin-left: 1em;
}

[role="radio"]::before,
[role="radio"]::after {
  position: absolute;
  top: 50%;
  left: 11px;
  transform: translate(-20%, -50%);
  content: "";
}

[role="radio"]::before {
  width: 14px;
  height: 14px;
  border: 2px solid hsl(0, 0%, 40%);
  border-radius: 100%;
}

[role="radio"][aria-checked="true"]::before {
  border-color: hsl(216, 80%, 50%);
  background: hsl(217, 95%, 68%);
  background-image: linear-gradient(
    to bottom,
    hsl(217, 95%, 68%),
    hsl(216, 80%, 57%)
  );
}

[role="radio"][aria-checked="true"]::after {
  display: block;
  border: 4px solid #fff;
  border-radius: 100%;
  transform: translate(20%, -50%);
}

[role="radio"][aria-checked="true"]:active::before {
  background-image: linear-gradient(
    to bottom,
    hsl(216, 80%, 57%),
    hsl(217, 95%, 68%) 60%
  );
}

[role="radio"]:hover::before {
  border-color: hsl(216, 94%, 65%);
}

[role="radio"].focus {
  padding: 2px;
  padding-left: 28px;
  padding-right: 6px;
  border: 2px solid hsl(216, 94%, 73%);
  background-color: hsl(216, 80%, 97%);
}

[role="radio"]:hover {
  padding: 2px;
  padding-left: 28px;
  padding-right: 6px;
  border: 2px solid hsl(216, 94%, 73%);
  background-color: hsl(216, 80%, 92%);
}

[role="radio"].focus::before,
[role="radio"]:hover::before {
  left: 9px;
}

[role="radio"][aria-checked="true"].focus::after,
[role="radio"][aria-checked="true"]:hover::after {
  transform: translate(-6%, -50%);
}
