/* CSS Document */

.rating-slider label {
  display: block;
}

.rating-slider {
  color: blue;
}

.rating-slider svg {
  forced-color-adjust: auto;
  touch-action: pan-y;
}

.rating-slider svg .focus-ring {
  fill: linktext;
  stroke-width: 0;
  fill-opacity: 0;
}

.rating-slider svg .value {
  stroke-width: 2px;
  stroke: linktext;
  fill-opacity: 0;
}

.rating-slider svg .label {
  font-size: 90%;
  fill: linktext;
}

.rating-slider svg .description {
  font-size: 90%;
  fill: linktext;
}

.rating-slider svg .current .value {
  fill: linktext;
  fill-opacity: 1;
}

.rating-slider svg .current .label {
  fill: canvas;
  font-weight: bold;
}

/* focus styling */

.rating-slider:focus,
.rating-slider:focus-visible {
  outline: none !important;
}

.rating-slider svg .focus {
  stroke-width: 0;
  stroke: linktext;
  fill-opacity: 0;
}

.rating-slider:focus svg .focus-ring {
  stroke-width: 2px;
  stroke: linktext;
}
