/* CSS Document */

.multithumb-slider {
  display: grid;
  grid-template-columns: 30px 500px 30px;
}

.multithumb-slider .slider-group {
  position: relative;
  top: 40px;
}


.multithumb-slider .color-group button.change:focus,
.multithumb-slider .color-slider:focus {
  outline: none;
}


.multithumb-slider .hc-background {
  fill: white;
}

.multithumb-slider {
  clear: both;
  padding-top: 0.5em;
  padding-bottom: 1em;
}

.multithumb-slider .rail-label {
  padding-right: 0.5em;
  text-align: right;
  float: left;
  width: 4em;
  position: relative;
  top: -0.5em;
}

.multithumb-slider .rail-label.max {
  padding-left: 0.5em;
  text-align: left;

}

.multithumb-slider .rail {
  position: relative;
  float: left;
}

.multithumb-slider [role="slider"] {
  position: absolute;
  padding: 0;
  margin: 0;
  top: -35px;

}

div.multithumb-slider [role="slider"].focus,
div.multithumb-slider [role="slider"]:hover {
  outline-color: rgb(140, 203, 242);
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;

}

