/* CSS Document */

.slider-multithumb {
  padding-top: 0.5em;
  padding-bottom: 1em;
}

.slider-multithumb.mobile {
  clear: both;
  display: grid;
  grid-template-columns: 100px 340px 100px;
  grid-column-gap: 10px;
}

.slider-multithumb.mobile .input-minimum,
.slider-multithumb.mobile .input-maximum {
  position: relative;
  top: 20px;
  height: 1.5em;
}

.slider-multithumb.mobile .input-minimum {
  grid-column: 1;
}

.slider-multithumb.mobile .input-maximum {
  grid-column: 3;
}

.slider-multithumb.mobile .slider-group {
  grid-column: 2;
}

.slider-multithumb .slider-group .value {
  font-size: 80%;
  color: currentColor;
}

.slider-multithumb .slider-group .rail {
  stroke: transparent;
  stroke-width: 1px;
  fill: #ccc;
}

.slider-multithumb .slider-group .slider-minimum,
.slider-multithumb .slider-group .slider-maximum {
  stroke-width: 0;
  fill: #444;
}

/* Focus and hover styling */

.slider-multithumb.focus .slider-group {
  color: #005a9c;
}

.slider-multithumb.focus .slider-group .rail {
  stroke: #adddff;
  fill: #adddff;
}

.slider-multithumb .slider-group .slider-minimum:focus,
.slider-multithumb .slider-group .slider-minimum:hover,
.slider-multithumb .slider-group .slider-maximum:focus,
.slider-multithumb .slider-group .slider-maximum:hover {
  stroke-width: 3px;
  stroke: currentColor;
  fill: currentColor;
}
