/* CSS Document */

.thermostat h3 {
  color: black;
  font-weight: bold;
  font-size: 150%;
}

.thermostat svg {
  forced-color-adjust: auto;
}

.slider-thermostat text {
  font-weight: bold;
  fill: currentColor;
  font-family: sans-serif;
}

.slider-thermostat-vertical .slider-group {
  touch-action: pan-x;
}

.slider-thermostat-text .slider-group {
  touch-action: pan-y;
}

.slider-thermostat {
  margin-top: 1em;
  padding: 6px;
  width: 12em;
  color: black;
}

.slider-thermostat .value {
  position: relative;
  top: 20px;
  height: 1.5em;
  font-size: 80%;
}

.slider-thermostat .temp-value {
  padding-left: 24px;
  font-size: 200%;
}

.slider-thermostat .rail {
  stroke: currentColor;
  stroke-width: 2px;
  fill: currentColor;
  fill-opacity: 25%;
}

.slider-thermostat .thumb {
  stroke-width: 0;
  fill: currentColor;
}

.slider-thermostat .focus {
  stroke: currentColor;
  stroke-opacity: 0;
  fill-opacity: 0;
  stroke-width: 3px;
  display: none;
}

.slider-thermostat.text {
  width: 14em;
}

.slider-thermostat.text .value-label rect {
  fill-opacity: 0;
  stroke-width: 2px;
  stroke-opacity: 0;
}

/* Focus and hover styling */

.slider-thermostat.focus [role="slider"] {
  color: #005a9c;
}

.slider-thermostat.focus [role="slider"] .rail {
  stroke: currentColor;
  fill: #adddff;
}

.slider-thermostat [role="slider"]:focus {
  outline: none;
}

.slider-thermostat [role="slider"]:focus .focus {
  display: block;
  stroke-opacity: 1;
}

.slider-thermostat.text .value-label:hover rect {
  stroke-opacity: 1;
  stroke: currentColor;
}
