/* CSS Document */

.aria-widget-slider {
  margin-top: 0em;
  margin-bottom: 0em;
  height: 3em;
}

.aria-widget-slider:focus{
	outline: none;
}
.aria-widget-slider.value {
  width: 9000em;
  text-align: right; 
}


.aria-widget-slider svg .valueBackground {
	fill:white;
	stroke-width:0;
}

.aria-widget-slider svg .rail {
	fill:gray;
	stroke:gray;
	stroke-width:2px;
	opacity:0.3;
}
.aria-widget-slider svg .railFill {
	stroke-width:2px;
	opacity:0.2;
	pointer-events: none;
}

.aria-widget-slider svg .green {
	fill:green;
	stroke:green;
}

.aria-widget-slider svg .red {
	fill:red;
	stroke:red;
}

.aria-widget-slider svg .blue {
	fill: blue;
	stroke:blue;
}

.aria-widget-slider svg .thumb {
	fill: lightgray;
	stroke:lightgray;
	stroke-width:2px;
}

.aria-widget-slider:hover svg * {
  stroke: black;
  opacity: 1;
}
.aria-widget-slider.focus svg .rail,
.aria-widget-slider.focus svg .thumb,
.aria-widget-slider.focus svg .value
 {
  stroke: black;
  opacity: 1;
}

label {
  display: block;
  margin-top: 0em;
  margin-bottom: 1 em;
}

#idColorBox {
  width: 200px;
  height: 200px;
  border: black solid medium;
  text-align: center;
  padding: 0.25em;
}

#idColorInfo {
  padding-top: 5px;
}
