/* CSS Document */

.slider-thermostat h3 {
  color: black;
  font-weight: bold;
  font-size: 150%;
}

.slider-thermostat-vertical .slider-group {
  touch-action: pan-x;
}

.slider-thermostat-text .slider-group {
  touch-action: pan-y;
}

.slider-thermostat-vertical,
.slider-thermostat-text {
  margin-top: 1em;
  padding: 6px;
  width: 12em;
}

.slider-thermostat-text {
  width: 14em;
}

.slider-thermostat-vertical label,
.slider-thermostat-vertical .label,
.slider-thermostat-text .label {
  font-weight: bold;
}

.slider-thermostat-vertical .value {
  position: relative;
  top: 20px;
  height: 1.5em;
}

.slider-thermostat-vertical .temp-value {
  padding-left: 24px;
  font-weight: bold;
  font-size: 200%;
  font-family: sans-serif;
}

.slider-thermostat-vertical .slider-group .value {
  font-size: 80%;
  fill: currentColor;
}

.slider-thermostat-vertical .slider-group .rail,
.slider-thermostat-text .slider-group .rail {
  stroke: currentColor;
  stroke-width: 2px;
  fill: currentColor;
  fill-opacity: 25%;
}

.slider-thermostat-vertical .slider-group .thumb,
.slider-thermostat-text .slider-group .thumb {
  stroke-width: 0;
  fill: currentColor;
}

.slider-thermostat-vertical .slider-group .focus,
.slider-thermostat-text .slider-group .focus {
  stroke-width: 3px;
  stroke: transparent;
  fill: transparent;
}

.slider-thermostat-text .value-label rect {
  fill: transparent;
  stroke-width: 2px;
  stroke: transparent;
}

.slider-thermostat-text .value-label text {
  color: currentColor;
  font-weight: bold;
}

/* Focus and hover styling */

.slider-thermostat-text .value-label:hover rect {
  stroke: currentColor;
}

.slider-thermostat-vertical.focus .slider-group,
.slider-thermostat-text.focus .slider-group {
  color: #005a9c;
}

.slider-thermostat-vertical.focus .slider-group .rail,
.slider-thermostat-text.focus .slider-group .rail {
  stroke: currentColor;
  fill: #adddff;
}

.slider-thermostat-vertical [role="slider"]:focus,
.slider-thermostat-text [role="slider"]:focus {
  outline: none;
}

.slider-thermostat-vertical [role="slider"]:focus .focus,
.slider-thermostat-text [role="slider"]:focus .focus {
  stroke: currentColor;
}

.slider-thermostat-vertical [role="slider"]:focus .thumb,
.slider-thermostat-text [role="slider"]:focus .thumb {
  fill: currentColor;
}

.slider-thermostat-vertical [role="slider"]:focus .value {
  font-weight: bold;
  fill: currentColor;
}
