/* CSS Document */

.color-viewer-sliders label {
  display: block;
}

.color-box-sliders .label {
  margin-top: 0;
  margin-bottom: 1 em;
}

.color-viewer-sliders .color-box {
  width: 200px;
  height: 200px;
  border: black solid medium;
  text-align: center;
  padding: 0.25em;
  forced-color-adjust: none;
}

.color-viewer-sliders .color-info {
  padding-top: 5px;
}

.color-viewer-sliders .color-info label {
  margin-top: 0.25em;
  display: block;
}

.color-group {
  padding: 4px;
  width: 490px;
  touch-action: pan-y;
}

.color-group.focus {
  color: #005a9c;
}

.color-group > div {
  display: inline;
}

.color-group .value {
  color: currentColor;
  fill: currentColor;
}

.color-group.focus .color-slider .value,
.color-group .color-slider:focus .value,
.color-group .color-slider:hover .value {
  font-weight: bold;
}

.color-group .color-slider {
  margin: 0;
  padding: 0;
}

.color-group .color-slider .valueBackground {
  fill: white;
  stroke-width: 0;
}

.color-group .color-slider .rail {
  fill: #bbb;
  stroke: currentColor;
  stroke-width: 2px;
  opacity: 0.8;
}

.color-group .color-slider .fill {
  stroke-width: 0;
  opacity: 0.5;
  pointer-events: none;
}

.color-group.green .color-slider .fill {
  fill: green;
}

.color-group.red .color-slider .fill {
  fill: red;
}

.color-group.blue .color-slider .fill {
  fill: blue;
}

.color-group .color-slider .thumb {
  fill: #666;
  stroke: currentColor;
  stroke-width: 2px;
}

.color-group .color-slider .focus {
  fill: transparent;
  stroke: transparent;
  stroke-width: 2px;
}

.color-group.focus .color-slider .fill,
.color-group .color-slider:focus .fill,
.color-group .color-slider:hover .fill {
  opacity: 1;
}

.color-group.focus .color-slider .rail,
.color-group .color-slider:focus .rail,
.color-group .color-slider:hover .rail {
  fill: transparent;
  stroke: currentColor;
  opacity: 1;
}

.color-group .color-slider:focus .thumb,
.color-group .color-slider:hover .thumb {
  fill: #ddd;
  stroke: currentColor;
  opacity: 1;
}

.color-group .color-slider:focus .focus,
.color-group .color-slider:hover .focus {
  stroke: currentColor;
}
