/* CSS Document */

div.aria-widget-slider {
  margin-top: 0em;
  margin-bottom: 0em;
  height: 3em;
}

div.aria-widget-slider .value {
  width: 100em;
  text-align: right;
  position: right;
}

label {
  display: block;
  margin-top: 0em;
  margin-bottom: 1 em;
}

#idColorBox {
  width: 200px;
  height: 200px;
  border: black solid medium;
  text-align: center;
  padding: 0.25em;
}

#idColorInfo {
  padding-top: 5px;
}
