/* CSS Document */

div.aria-widget-slider {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  height: 4em;
}

div.aria-widget-slider .rail {
  margin: 2px;
  padding: 1px;
  background-color: #eee;
  border: 1px solid #888;
  position: relative;
  top: 2em;
  height: 4px;
}

div.aria-widget-slider .thumb {
  border: 1px solid #888;
  border-top-color: #666;
  border-left-color: #666;
  background-color: #ddd;
  position: relative;
}

div.aria-widget-slider .rail .thumb.focus,
div.aria-widget-slider .rail .thumb:hover {
  outline: 2px solid #888;
  background-color: #def;
}

div.aria-widget-slider .rail.focus {
  background-color: #aaa;
}

div.aria-widget-slider .value {
  width: 2em;
  text-align: right;
  position: absolute;
}

label {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#idColorBox {
  width: 200px;
  height: 200px;
  border: black solid medium;
  text-align: center;
  padding: 0.25em;
}

#idColorInfo {
  padding-top: 5px;
}
