/* CSS Document */

.aria-widget-slider {
  margin-top: 0em;
  margin-bottom: 0em;
  height: 3em;
}

.aria-widget-slider.value {
  width: 9000em;
  text-align: right;     
}

.aria-widget-slider svg .rail {
	fill:gray;
	stroke:black;
	stroke-width:5;
	opacity:0.2;
}

.aria-widget-slider svg .thumb {
	fill: snow;
	stroke:lightgray;
	stroke-width:2px;
	width: 15px;
	height: 35px;
	opacity: 0.2;
}

.aria-widget-slider svg .red {
  fill: red;
  stroke: red;
}

.aria-widget-slider.focus svg * {
  stroke: black;
  opacity: 1;
}

label {
  display: block;
  margin-top: 0em;
  margin-bottom: 1 em;
}

#idColorBox {
  width: 200px;
  height: 200px;
  border: black solid medium;
  text-align: center;
  padding: 0.25em;
}

#idColorInfo {
  padding-top: 5px;
}
