/* CSS Document */

.rating-slider label {
  display: block;
}

.rating-slider svg .focus-ring {
  fill: #eee;
  stroke-width: 0;
}

.rating-slider svg .outline {
  stroke-width: 2px;
  stroke: currentColor;
  fill-opacity: 0;
}

.rating-slider svg .fill-left,
.rating-slider svg .fill-right {
  stroke-width: 0;
  fill-opacity: 0;
}

.rating-slider[aria-valuenow="5"] svg .fill-right,
.rating-slider[aria-valuenow="5"] svg .fill-left {
  fill: currentColor;
  fill-opacity: 1;
}

.rating-slider[aria-valuenow="0.5"] svg .star-1 .fill-left {
  fill: currentColor;
  fill-opacity: 1;
}

.rating-slider[aria-valuenow="1"] svg .star-1 .fill-left,
.rating-slider[aria-valuenow="1"] svg .star-1 .fill-right {
  fill: currentColor;
  fill-opacity: 1;
}

.rating-slider[aria-valuenow="1.5"] svg .star-1 .fill-left,
.rating-slider[aria-valuenow="1.5"] svg .star-1 .fill-right,
.rating-slider[aria-valuenow="1.5"] svg .star-2 .fill-left {
  fill: currentColor;
  fill-opacity: 1;
}

.rating-slider[aria-valuenow="2"] svg .star-1 .fill-left,
.rating-slider[aria-valuenow="2"] svg .star-1 .fill-right,
.rating-slider[aria-valuenow="2"] svg .star-2 .fill-left,
.rating-slider[aria-valuenow="2"] svg .star-2 .fill-right {
  fill: currentColor;
  fill-opacity: 1;
}

.rating-slider[aria-valuenow="2.5"] svg .star-1 .fill-left,
.rating-slider[aria-valuenow="2.5"] svg .star-1 .fill-right,
.rating-slider[aria-valuenow="2.5"] svg .star-2 .fill-left,
.rating-slider[aria-valuenow="2.5"] svg .star-2 .fill-right,
.rating-slider[aria-valuenow="2.5"] svg .star-3 .fill-left {
  fill: currentColor;
  fill-opacity: 1;
}

.rating-slider[aria-valuenow="3"] svg .star-1 .fill-left,
.rating-slider[aria-valuenow="3"] svg .star-1 .fill-right,
.rating-slider[aria-valuenow="3"] svg .star-2 .fill-left,
.rating-slider[aria-valuenow="3"] svg .star-2 .fill-right,
.rating-slider[aria-valuenow="3"] svg .star-3 .fill-left,
.rating-slider[aria-valuenow="3"] svg .star-3 .fill-right {
  fill: currentColor;
  fill-opacity: 1;
}

.rating-slider[aria-valuenow="3.5"] svg .star-1 .fill-left,
.rating-slider[aria-valuenow="3.5"] svg .star-1 .fill-right,
.rating-slider[aria-valuenow="3.5"] svg .star-2 .fill-left,
.rating-slider[aria-valuenow="3.5"] svg .star-2 .fill-right,
.rating-slider[aria-valuenow="3.5"] svg .star-3 .fill-left,
.rating-slider[aria-valuenow="3.5"] svg .star-3 .fill-right,
.rating-slider[aria-valuenow="3.5"] svg .star-4 .fill-left {
  fill: currentColor;
  fill-opacity: 1;
}

.rating-slider[aria-valuenow="4"] svg .star-1 .fill-left,
.rating-slider[aria-valuenow="4"] svg .star-1 .fill-right,
.rating-slider[aria-valuenow="4"] svg .star-2 .fill-left,
.rating-slider[aria-valuenow="4"] svg .star-2 .fill-right,
.rating-slider[aria-valuenow="4"] svg .star-3 .fill-left,
.rating-slider[aria-valuenow="4"] svg .star-3 .fill-right,
.rating-slider[aria-valuenow="4"] svg .star-4 .fill-left,
.rating-slider[aria-valuenow="4"] svg .star-4 .fill-right {
  fill: currentColor;
  fill-opacity: 1;
}

.rating-slider[aria-valuenow="4.5"] svg .star-1 .fill-left,
.rating-slider[aria-valuenow="4.5"] svg .star-1 .fill-right,
.rating-slider[aria-valuenow="4.5"] svg .star-2 .fill-left,
.rating-slider[aria-valuenow="4.5"] svg .star-2 .fill-right,
.rating-slider[aria-valuenow="4.5"] svg .star-3 .fill-left,
.rating-slider[aria-valuenow="4.5"] svg .star-3 .fill-right,
.rating-slider[aria-valuenow="4.5"] svg .star-4 .fill-left,
.rating-slider[aria-valuenow="4.5"] svg .star-4 .fill-right,
.rating-slider[aria-valuenow="4.5"] svg .star-5 .fill-left {
  fill: currentColor;
  fill-opacity: 1;
}

/* focus styling */

.rating-slider:focus {
  outline: none;
  color: #005a9c;
}

.rating-slider:focus svg .focus-ring {
  stroke-width: 2px;
  stroke: currentColor;
}
