/* CSS Document */

div.aria-widget-vertical-slider {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

div.aria-widget-vertical-slider .rail {
  margin: 2px;
  padding: 1px;
  background-color: #eee;
  border: 1px solid #888;
  position: relative;
  left: 3.8em;
  
}

div.aria-widget-vertical-slider .thumb  {
  border: 1px solid #888;
  border-top-color:  #666;
  border-left-color: #666;
  background-color: #DDD;
  position: relative;
}

div.aria-widget-vertical-slider .label,
div.aria-widget-vertical-slider .value  {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center;
  width: 8em;
}


div.focus .thumb  {
  border: 1px solid #444;
  background-color: #888;
  position: relative;
}

div.focus .rail {
  background-color: #CCC;
  width: 8px;
}

.label {
  font-weight: bold;
  font-size: 110%;
}

#id_kbd {
  clear: both;
}


