.checkbox-mixed ul.checkboxes {
  list-style: none;
  margin: 0;
  padding: 0;
}

.checkbox-mixed ul.checkboxes li {
  margin: 0;
  padding: 0;
  padding-left: 1.25em;
}

.checkbox-mixed label {
  margin: 1px;
  padding: 4px;
}

.checkbox-mixed [role="checkbox"] {
  display: inline-block;
  position: relative;
  padding: 4px;
  padding-left: 28px;
  cursor: default;
}

.checkbox-mixed [role="checkbox"]::before,
.checkbox-mixed [role="checkbox"]::after {
  position: absolute;
  top: 50%;
  left: calc(28px - 14px);
  transform: translate(-50%, -50%);
  content: "";
}

.checkbox-mixed [role="checkbox"]::before {
  width: 14px;
  height: 14px;
  border: 1px solid hsl(0, 0%, 66%);
  border-radius: 0.2em;
  background-image: linear-gradient(to bottom, hsl(300, 3%, 93%), #fff 30%);
}

.checkbox-mixed [role="checkbox"]:active::before {
  background-image: linear-gradient(
    to bottom,
    hsl(300, 3%, 73%),
    hsl(300, 3%, 93%) 30%
  );
}

.checkbox-mixed [role="checkbox"][aria-checked="mixed"]::before,
.checkbox-mixed [role="checkbox"][aria-checked="true"]::before {
  border-color: hsl(216, 80%, 50%);
  background: hsl(217, 95%, 68%);
  background-image: linear-gradient(
    to bottom,
    hsl(217, 95%, 68%),
    hsl(216, 80%, 57%)
  );
}

.checkbox-mixed [role="checkbox"][aria-checked="mixed"]::after {
  display: block;
  width: 8px;
  border-bottom: 0.125em solid #fff;
  transform: translate(-50%, -50%) rotateZ(45deg);
  transform-origin: center center;
}

.checkbox-mixed [role="checkbox"][aria-checked="mixed"]:active::after,
.checkbox-mixed [role="checkbox"][aria-checked="true"]::after {
  display: block;
  width: 0.25em;
  height: 0.4em;
  border: solid #fff;
  border-width: 0 0.125em 0.125em 0;
  transform: translateY(-65%) translateX(-50%) rotate(45deg);
}

.checkbox-mixed [role="checkbox"][aria-checked="mixed"]:active::before,
.checkbox-mixed [role="checkbox"][aria-checked="true"]:active::before {
  background-image: linear-gradient(
    to bottom,
    hsl(216, 80%, 57%),
    hsl(217, 95%, 68%)
  );
}

.checkbox-mixed [role="checkbox"]:focus {
  outline: none;
}

.checkbox-mixed [role="checkbox"]:focus::before {
  width: 16px;
  height: 16px;
  box-sizing: content-box;
  border-color: hsl(216, 94%, 73%);
  border-width: 3px;
  border-radius: calc(0.2em + 3px);
  box-shadow: inset 0 0 0 1px hsl(216, 80%, 50%);
}

.checkbox-mixed [role="checkbox"].focus {
  padding: 2px;
  padding-left: calc(28px - 2px);
  border: 2px solid #765;
  border-radius: 5px;
  background-color: #def;
  outline: none;
}

.checkbox-mixed label.focus {
  padding: 2px;
  border: 2px solid #765;
  background-color: #def;
  border-radius: 5px;
}

.checkbox-mixed [role="checkbox"]:hover,
.checkbox-mixed label:hover {
  background-color: #def;
}

.checkbox-mixed input:focus,
.checkbox-mixed label:hover input {
  background-color: #fff;
}

.checkbox-mixed [role="checkbox"]:focus::before,
.checkbox-mixed [role="checkbox"]:focus::after {
  left: calc(28px - 16px);
}
