#key-info {
  border-spacing: 0;
  border-collapse: collapse;
}
#key-info td, #key-info th {
  border: 1px solid #aaa;
  padding: 1ch;
  font-size: 11pt;
}
#key-info th {
  background-color: #f8f8f8;
  text-align: left;
}

#treegrid {
  width: 100%;
  white-space: nowrap;
  border-collapse: collapse;
  table-layout: fixed;
}

#col1, #col3 {
  width: 30%;
}

#treegrid th {
  text-align: left;
  background-color: #eee;
}

/* Extra space between columns for readability */
#treegrid th, #treegrid td {
  padding-bottom: 3px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

#treegrid tr > td:not(:first-child),
#treegrid tr > th:not(:first-child) {
  padding-left: 3ch;
}

#treegrid :focus {
  background-color: hsl(230, 60%, 40%);
  color: white;
  outline: 0;
}

#treegrid :focus a {
  color: white;
}

/* Hide collapsed rows */
#treegrid tr[aria-hidden="true"] {
  display: none;
}

/* Indents */
#treegrid tr[aria-level="2"] > td:first-child {
  padding-left: 2.5ch;
}
#treegrid tr[aria-level="3"] > td:first-child {
  padding-left: 5ch;
}
#treegrid tr[aria-level="4"] > td:first-child {
  padding-left: 7.5ch;
}
#treegrid tr[aria-level="5"] > td:first-child {
  padding-left: 10ch;
}

/* Collapse/expand icons */
#treegrid tr > td:first-child::before {
  font-family: monospace;
  content: " ";
  display: inline-block;
  width: 2ch;
  height: 11px;
  transition: transform .3s;
  transform-origin: 5px 5px;
}

#treegrid tr[aria-expanded] > td:first-child::before {
  /* Load both right away so there is no lag when we need the other */
  background-image: url("expand-icon.svg"), url("expand-icon-highlighted.svg");
  background-repeat: no-repeat;
}

#treegrid tr[aria-expanded]:focus > td:first-child::before,
#treegrid tr[aria-expanded] > td:focus:first-child::before {
  background-image: url("expand-icon-highlighted.svg");
}

#treegrid tr[aria-expanded="true"] > td:first-child::before {
  transform: rotate(90deg);
}
