button {
  cursor: pointer;
  font-size: 110%;
}

.menu-wrapper {
  position: relative;
}
.menu-button{
  width:6em;
}
ul[role="menu"] {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 1;
}

ul[role="menu"] li, ul[role='toolbar'] li{
  list-style: none;
}

[role="menu"] {
  padding: 0;
  width: 9.5em;
  border: thin solid black;
  border-radius:5px;
  background-color: white;
}
[role="menuitem"] {
  padding: 0.25em;
  outline:0;
}

[role="menuitem"]:focus,
[role="menuitem"]:hover {
  background:#0097D6;
  color:white;
}