button {
  cursor: pointer;
  font-size: 110%;
}

.menu-wrapper {
  position: relative;
  display: inline-block;
  font-size: 16px;
}
.menu-button{
  width:7.5em;
  padding-right: 0.25em;
  position: relative;
  margin-right:0 !important;
}
.menu-button::after {
	content: " ";
	border-left: 0.4em solid transparent;
	border-right: 0.4em solid transparent;
	border-top: 0.4em solid black;
	position: absolute;
	right: 1em;
	top: 1.1em;
}
.menu-button:focus:after {
	color: white;
}
ul[role="menu"] {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 1;
}

ul[role="menu"] li, ul[role='toolbar'] li{
  list-style: none;
}

[role="menu"] {
  padding: 0;
  width: 9.5em;
  border: thin solid black;
  border-radius:5px;
  background-color: white;
}
[role="menuitem"] {
  padding: 0.25em;
  outline:0;
  border-radius: 5px;
}

[role="menuitem"]:focus,
[role="menuitem"]:hover {
	background:rgb(226, 239, 255);
}