[role='toolbar'] .menu-wrapper {
  position: relative;
}

[role='toolbar'] [role="menu"] {
  padding: 0;
  width: 9.5em;
  border: 2px solid #DDD;
  border-radius:5px;
  background-color: white;

  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 1;
}

[role='toolbar'] [role="menu"].focus {
  border-color: #005A9C;
}

[role='toolbar'] [role="menu"] li {
  list-style: none;
}

[role='toolbar'] [role="menu"] [role="menuitem"] {
  padding: 0.25em;
  outline:0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

[role='toolbar'] [role="menu"] [role="menuitem"]:focus,
[role='toolbar'] [role="menu"] [role="menuitem"]:hover {
	background:rgb(226, 239, 255);
}

[role='toolbar'] [role="menu"] [role="menuitem"]:focus {
  border-color: #005A9C;
}

