ul[role="tree"] {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul[role="tree"] li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul[role="tree"] a {
  text-decoration: none;
}

[role="treeitem"][aria-expanded="false"] > ul {
  display: none;
}

[role="treeitem"][aria-expanded="true"] > ul {
  display: block;
}

[role="treeitem"][aria-expanded="false"] > span:before {
  content: url(../images/collapsed-16.png);
}

[role="treeitem"][aria-expanded="true"] > span:before {
  content: url(../images/expanded-16.png);
}

[role="treeitem"],
[role="treeitem"] span {
  margin: 0;
  padding: 0;
  border: 2px transparent solid;
  padding: 0.125em;
  display: block;
}

[role="treeitem"].focus,
[role="treeitem"] span.focus {
  border-color: black;
  background-color: #EEEEEE;
  width: 14em;  
}

[role="treeitem"].hover,
[role="treeitem"] span.hover {
  background-color: #DDDDDD;
  width: 14em;  
}

