.datepickerCombobox {
  margin-top: 1em;
}

.datepickerCombobox button.icon {
  border-style: none;
  text-align: left;
  background-color: white;
  position: relative;
  left: -25px;
  top: 3px;
}

.datepickerCombobox span.arrow {
  margin: 0;
  padding: 0;
  display: none;
  background: transparent;
}

.datepickerCombobox span.arrow svg polygon {
  stroke: gray;
  stroke-width: 1px;
  fill: gray;
}

.datepickerCombobox span.arrow.up.show {
  display: inline-block;
  position: relative;
  left: -23px;
}

.datepickerCombobox span.arrow.down.show {
  display: inline-block;
  position: relative;
  left: -23px;
}

.datepickerCombobox .datepickerDialog {
  width: auto;
  position: absolute;
  clear: both;
  display: none;
  border: 3px solid hsl(216, 80%, 55%);
  margin-top: 1em;
  border-radius: 5px;
  padding: 0;
  background-color: #fff;
}

.datepickerCombobox .header {
  cursor: default;
  background-color: hsl(216, 80%, 55%);
  padding: 7px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  display: flex;
  justify-content: space-around;
}

.datepickerCombobox .header h2 {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-size: 1em;
  color: white;
  text-transform: none;
  font-weight: bold;
}

.datepickerCombobox .header button {
  border-style: none;
  background: transparent;
}

.datepickerCombobox .datepickerDialog button::-moz-focus-inner {
  border: 0;
}

.datepickerCombobox .prevYear,
.datepickerCombobox .prevMonth,
.datepickerCombobox .nextMonth,
.datepickerCombobox .nextYear {
  padding: 4px;
  width: 24px;
  height: 24px;
  color: white;
}

.datepickerCombobox .prevYear:focus,
.datepickerCombobox .prevMonth:focus,
.datepickerCombobox .nextMonth:focus,
.datepickerCombobox .nextYear:focus {
  padding: 2px;
  border: 2px solid white;
  border-radius: 4px;
  outline: 0;
}

.datepickerCombobox .dialogButtonGroup {
  text-align: right;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
}

.datepickerCombobox .dialogButton {
  padding: 5px;
  margin-left: 1em;
  width: 5em;
  background-color: hsl(216, 80%, 92%);
  font-size: 0.85em;
  color: black;
  outline: none;
  border: 1px solid hsl(216, 80%, 92%);
  border-radius: 5px;
}

.datepickerCombobox .dialogButton:focus {
  padding: 4px;
  border: 2px solid black;
}

.datepickerCombobox .fa-calendar-alt {
  color: hsl(216, 89%, 72%);
}

.datepickerCombobox .monthYear {
  display: inline-block;
  width: 12em;
  text-align: center;
}

.datepickerCombobox table.dates {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
}

.datepickerCombobox table.dates th,
.datepickerCombobox table.dates td {
  text-align: center;
}

.datepickerCombobox .dateRow {
  border: 1px solid black;
}

.datepickerCombobox .dateCell {
  height: 40px;
  width: 40px;
}

.datepickerCombobox .dateButton {
  padding: 0;
  margin: 0;
  line-height: inherit;
  height: 100%;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  background: #eee;
}

.datepickerCombobox .dateButton:focus,
.datepickerCombobox .dateButton:hover {
  padding: 0;
  background-color: hsl(216, 80%, 92%);
}

.datepickerCombobox .dateButton:focus {
  border-width: 2px;
  border-color: rgb(100, 100, 100);
  outline: 0;
}

.datepickerCombobox .dateButton[aria-selected] {
  border-color: rgb(100, 100, 100);
}

.datepickerCombobox .dateButton[tabindex="0"] {
  background-color: hsl(216, 80%, 92%);
}

.datepickerCombobox .dateButton.disabled {
  visibility: hidden;
}

.datepickerCombobox .comboboxMessage {
  display: none;
}

.datepickerCombobox .dialogMessage {
  padding-top: 0.25em;
  padding-left: 1em;
  height: 1.75em;
  background: hsl(216, 80%, 55%);
  color: white;
}
