
[role=meter] {
  padding: 2px;
  border: 2px solid black;
  border-radius: 5px;
  height: 40px;
  width: 200px;
}

.fill {
  box-sizing: border-box;
  height: 100%;
  border-radius: 3px;
  background-color: black;
  border: 2px solid black;
}
