name: Deploy gh-pages

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/deploy.yml
      - common/**
      - examples/**
      - img/**
      - aria-practices.html
      - README.md

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN || github.token }}
    steps:
    - uses: actions/checkout@v3
      with:
        path: main

    - uses: actions/checkout@v3
      with:
        path: deploy
        ref: gh-pages
        token: ${{ env.GH_TOKEN }}

    - name: Cleanup old files
      run: |
        rm -rf deploy/common/
        rm -rf deploy/examples/
        rm -rf deploy/img/
        rm -rf deploy/index.html
        rm -rf deploy/README.md

    - name: Copy files
      run: |
        cp -R main/common deploy
        cp -R main/examples deploy
        cp -R main/img deploy
        cp main/README.md deploy

    - name: Generate new index
      run: |
        curl "https://labs.w3.org/spec-generator/?type=respec&url=https://raw.githack.com/${{ github.repository }}/${{ github.sha }}/aria-practices.html" -o deploy/index.html -f --retry 3

    - name: Commit back
      run: |
        cd deploy
        git config user.name github-actions[bot]
        git config user.email github-actions[bot]@users.noreply.github.com
        git add --all
        git commit -am "Generated by ${{ github.sha }}" || true
        git push
