name: Trigger deploy for wai repository

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/deploy.yml
      - .github/workflows/wai-trigger-deploy.yml
      - scripts/wai-trigger-deploy.js
      - common/**
      - examples/**
      - img/**
      - aria-practices.html
      - README.md

jobs:
  deploy-wai:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          cache: npm

      - name: Install @octokit/rest
        run: npm install @octokit/rest

      - name: Run wai-trigger-deploy script
        run: |
          node scripts/wai-trigger-deploy.js
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
