name: Trigger deploy for WAI-APG site

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/wai-trigger-deploy.yml"
      - "common/**"
      - "examples/**"
      - "img/**"
      - "aria-practices.html"
      - "index.html"
      - "README.md"

jobs:
  deploy-wai:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Trigger wai-aria-practices update
        uses: actions/github-script@v5
        with:
          github-token: ${{ secrets.GH_TOKEN }}
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: 'wai-aria-practices',
              workflow_id: 'deploy.yml',
              ref: 'main'
            });
